In [1]:
import pandas as pd

In [37]:
def create_households_count_analysis(geo_level):
    # Import data 
    age_df = pd.read_csv(rf'C:\Users\cra\San Diego Association of Governments\SANDAG QA QC - Documents\Projects\2023\2023-023 Estimates 2022\Data\age\{geo_level}_age_est_2022_01_ind_QA.csv', usecols=[geo_level, 'yr_id', 'Under 5', '10 to 14', '15 to 17'])
    age_df = age_df.set_index([geo_level, 'yr_id'])

    children_df = pd.read_csv(rf'C:\Users\cra\San Diego Association of Governments\SANDAG QA QC - Documents\Projects\2023\2023-023 Estimates 2022\Data\children\{geo_level}_children_est_2022_01_ind_QA.csv', usecols=[geo_level, 'yr_id', 'with_children', 'without_children'])
    children_df = children_df.set_index([geo_level, 'yr_id'])

    households_df = pd.read_csv(rf'C:\Users\cra\San Diego Association of Governments\SANDAG QA QC - Documents\Projects\2023\2023-023 Estimates 2022\Data\households\{geo_level}_households_est_2022_01_ind_QA.csv', usecols=[geo_level, 'yr_id', 'Family household:female householder, no husband present ', 'Family household:male householder, no wife present', 'Family household:married-couple'])
    households_df = households_df.set_index([geo_level, 'yr_id'])

    # Merge Data
    merged = age_df.join(children_df).join(households_df)

    # Aggregations
    merged['Total Children'] = merged['Under 5'] + merged['10 to 14'] + merged['15 to 17'] 
    merged['Total Family Households'] = merged['Family household:female householder, no husband present '] + merged['Family household:male householder, no wife present'] + merged['Family household:married-couple'] 

    # Yoy
    merged['with_children (yoy)'] = merged.groupby(geo_level)['with_children'].diff(periods=1)
    merged['without_children (yoy)'] = merged.groupby(geo_level)['without_children'].diff(periods=1)
    merged['Total children (yoy)'] = merged.groupby(geo_level)['Total Children'].diff(periods=1)
    merged['Total Households (yoy)'] = merged.groupby(geo_level)['Total Family Households'].diff(periods=1)

    # Send to folder 
    merged.reset_index().to_csv(rf'C:\Users\cra\San Diego Association of Governments\SANDAG QA QC - Documents\Projects\2023\2023-023 Estimates 2022\Results\Households with Children\{geo_level}_households_with_children_analysis.csv')

    return merged

In [42]:
a = create_households_count_analysis(geo_level='region')
a

                 Under 5  10 to 14  15 to 17  with_children  without_children  \
region    yr_id
San Diego 2020    221150    221337    121485         371497            772773
          2021    209060    215490    117097         372937            775769
          2022    167771    205696    127514         376757            783715

                 Family household:female householder, no husband present   \
region    yr_id
San Diego 2020                                              191908
          2021                                              192652
          2022                                              194626

                 Family household:male householder, no wife present  \
region    yr_id
San Diego 2020                                              377440
          2021                                              378902
          2022                                              382784

                 Family household:married-couple  Total Children  \
region    yr_id
San Diego 2020                            272996          563972
          2021                            274054          541647
          2022                            276861          500981

                 Total Family Households  with_children (yoy)  \
region    yr_id
San Diego 2020                    842344                  NaN
          2021                    845608               1440.0
          2022                    854271               3820.0

                 without_children (yoy)  Total children (yoy)  \
region    yr_id
San Diego 2020                      NaN                   NaN
          2021                   2996.0              -22325.0
          2022                   7946.0              -40666.0

                 Total Households (yoy)
region    yr_id
San Diego 2020                      NaN
          2021                   3264.0
          2022                   8663.0