In [1]:
import pandas as pd
import os

def merge_files_on_geo_level(geo_level, url, output_file):
    # create empty dataframe to store merged data
    merged_data = pd.DataFrame()

    # loop through all subfolders in url folder
    for folder_name in os.listdir(url):
        print(folder_name)
        # loop through all files in subfolder
        if ((folder_name == 'age_sex_ethnicity') | (folder_name == 'combo_files') | (folder_name == 'consolidated_files')):
            pass
        else:
            for file_name in os.listdir(os.path.join(url, folder_name)):
                # check if file contains geo_level in the name
                if geo_level in file_name and file_name.endswith('.csv'):
                    # read in data from file and merge with merged_data dataframe
                    file_path = os.path.join(url, folder_name, file_name)
                    df = pd.read_csv(file_path)
                    if merged_data.empty:
                        merged_data = df
                    else:
                        merged_data = pd.merge(merged_data, df, how='left', on=[f'{geo_level}', 'yr_id'])
    print(merged_data.head())
    merged_data.reset_index().to_csv(f"{output_file}/{geo_level}_consolidated_file_QA.csv", index=False)

    # # sum all columns except for geo_level and yr_id
    # if not merged_data.empty:
    #     merged_data = merged_data.groupby(['geo_level', 'yr_id']).sum().reset_index()
    
    return merged_data

In [2]:
# 2021_01
url = 'C:/Users/cra/San Diego Association of Governments/SANDAG QA QC - Documents/Projects/2023/2023-023 Estimates 2022/Results/Test 5- Vintage Comparison/2021_01'
output_file = 'C:/Users/cra/San Diego Association of Governments/SANDAG QA QC - Documents/Projects/2023/2023-023 Estimates 2022/Results/Test 5- Vintage Comparison/2021_01/consolidated_files'

In [6]:
#2022_01
url = 'C:/Users/cra/San Diego Association of Governments/SANDAG QA QC - Documents/Projects/2023/2023-023 Estimates 2022/Data'
output_file = 'C:/Users/cra/San Diego Association of Governments/SANDAG QA QC - Documents/Projects/2023/2023-023 Estimates 2022/Data/consolidated_files'

In [7]:
merge_files_on_geo_level(geo_level='LUZ', url=url, output_file = output_file)

age
age_sex_ethnicity
children
combo_files
consolidated_files
ethnicity
households
housing
income_group
population
sex
workers
   LUZ  yr_id  Under 5  10 to 14  15 to 17  18 and 19  20 to 24  25 to 29  \
0    1   2020      625       298       198         48       338       580
1    1   2021      583       288       192         80       344       547
2    1   2022      392       300       187        126       277       471
3    2   2020      603       240       447        314      1376      2383
4    2   2021      642       242       358        311      1254      2092

   30 to 34  35 to 39  ...  Group Quarters - Other  Household Population  \
0       626       588  ...                     119                  8955
1       619       632  ...                     126                  8724
2       652       612  ...                     127                  8576
3      2622      1784  ...                    1333                 17698
4      2563      2043  ...                    1417                 17230

   total_population  total_pop_GQ  Female  Male  workers_0  workers_1  \
0              9074           119    4603  4471       1356       1718
1              8850           126    4490  4360       1331       1692
2              8703           127    4506  4197       1735       1412
3             19031          1333    9427  9604       3971       3341
4             18647          1417    9180  9467       3976       3307

   workers_2  workers_3plus
0        375           1006
1        369           1044
2        266           1029
3        887           2265
4        875           2274

[5 rows x 70 columns]

,LUZ,yr_id,Under 5,10 to 14,15 to 17,18 and 19,20 to 24,25 to 29,30 to 34,35 to 39,...,Group Quarters - Other,Household Population,total_population,total_pop_GQ,Female,Male,workers_0,workers_1,workers_2,workers_3plus
0,1,2020,625,298,198,48,338,580,626,588,...,119,8955,9074,119,4603,4471,1356,1718,375,1006
1,1,2021,583,288,192,80,344,547,619,632,...,126,8724,8850,126,4490,4360,1331,1692,369,1044
2,1,2022,392,300,187,126,277,471,652,612,...,127,8576,8703,127,4506,4197,1735,1412,266,1029
3,2,2020,603,240,447,314,1376,2383,2622,1784,...,1333,17698,19031,1333,9427,9604,3971,3341,887,2265
4,2,2021,642,242,358,311,1254,2092,2563,2043,...,1417,17230,18647,1417,9180,9467,3976,3307,875,2274
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
715,244,2021,362,217,155,192,1585,1341,977,758,...,0,7891,7891,0,3344,4547,1276,1057,299,796
716,244,2022,269,228,156,155,1284,1373,1027,763,...,0,7734,7734,0,3285,4449,1174,1056,411,781
717,245,2020,301,212,97,82,81,245,118,178,...,0,2158,2158,0,1196,962,224,217,66,189
718,245,2021,247,196,101,83,96,229,99,179,...,0,2226,2226,0,1289,937,231,219,68,195
719,245,2022,164,152,151,42,132,183,145,162,...,0,2206,2206,0,1255,951,250,242,19,204