# Data Preperation User Notebook

In [1]:
import pandas as pd
import numpy as np
import pyodbc
from data_prep_functions import *
import warnings
warnings.filterwarnings('ignore')

# Individual File Creation

### MGRA Level

In [2]:
mgra_ind_df = mgra_output(dsid='99', to_jdrive=True)
mgra_ind_df

outputting

,mgra,year,taz,LUZ,pop,hhp,hs,hs_sf,hs_mf,hs_mh,...,hotelroomtotal,parkactive,openspaceparkpreserve,beachactive,district27,milestocoast,acre,landacre,effective_acres,truckregiontype
0,1,2022,3010,10,440,440,176,84,92,0,...,0,0.0,0.00000,0.0,9,4.35,18.837621,18.837621,18.837621,1
1,2,2022,1797,28,130,68,56,0,56,0,...,0,0.0,0.00000,0.0,15,0.64,2.872330,2.872330,2.872330,1
2,3,2022,4361,239,549,549,200,23,177,0,...,0,0.0,0.00000,0.0,13,12.22,25.713898,25.713898,25.713898,1
3,4,2022,340,151,5,5,3,3,0,0,...,0,0.0,0.00000,0.0,2,0.17,2.678374,2.678374,2.678374,1
4,5,2022,388,151,90,90,43,43,0,0,...,0,0.0,0.00000,0.0,2,0.47,4.057765,4.057765,4.057765,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24316,24317,2029,3691,111,5,5,2,2,0,0,...,0,0.0,0.00000,0.0,9,7.76,0.648684,0.648684,0.648684,1
24317,24318,2029,3683,212,136,136,46,46,0,0,...,0,0.0,0.00000,0.0,3,14.73,50.854228,50.854228,50.514707,1
24318,24319,2029,4943,225,0,0,0,0,0,0,...,0,0.0,39188.40744,0.0,14,55.40,39632.715270,39632.715270,1892.855556,1
24319,24320,2029,4940,227,0,0,0,0,0,0,...,0,0.0,47858.17530,0.0,14,68.04,47918.538910,47918.538910,-1.847529,1
24320,24321,2029,3039,200,67,67,23,23,0,0,...,0,0.0,0.00000,0.0,3,13.94,8.280082,8.280082,8.280082,1

# Rollup the data

In [2]:
rollup_data(dsid='99', geo_level='luz', to_jdrive=True)

,luz,year,LUZ,pop,hhp,hs,hs_sf,hs_mf,hs_mh,hh,...,hotelroomtotal,parkactive,openspaceparkpreserve,beachactive,district27,milestocoast,acre,landacre,effective_acres,truckregiontype
0,1,2022,148,7233,7191,3814,2389,1425,0,3626,...,927,52.609069,154.638927,0.0,3996,186.32,956.484366,956.484366,887.796617,148
1,1,2029,148,7233,7191,3814,2389,1425,0,3626,...,927,52.609069,154.638927,0.0,3996,186.32,956.484366,956.484366,887.796617,148
2,2,2022,456,16976,16214,10513,2929,7584,0,9826,...,221,0.212114,62.931704,0.0,6156,207.75,914.385292,914.385292,892.107807,228
3,2,2029,456,16976,16214,10513,2929,7584,0,9826,...,221,0.212114,62.931704,0.0,6156,207.75,914.385292,914.385292,892.107807,228
4,3,2022,417,17463,16861,11009,2527,8482,0,9936,...,94,7.364652,196.521572,0.0,2404,278.46,1106.040154,1106.040154,1028.176554,139
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
485,243,2029,6318,1670,1670,763,44,719,0,720,...,0,0.000000,292.467146,0.0,416,56.19,878.523517,878.523517,822.455336,26
486,244,2022,10980,9611,9611,5059,236,4823,0,4329,...,340,32.366773,83.865660,0.0,720,118.72,699.270262,699.270262,618.575667,45
487,244,2029,10980,9611,9611,5059,236,4823,0,4329,...,340,32.366773,83.865660,0.0,720,118.72,699.270262,699.270262,618.575667,45
488,245,2022,9065,10165,10090,3536,1002,1804,730,3489,...,0,0.000000,4.525624,0.0,481,502.54,659.721373,659.721373,656.802045,37
489,245,2029,9065,10165,10090,3536,1002,1804,730,3489,...,0,0.000000,4.525624,0.0,481,502.54,659.721373,659.721373,656.802045,37

### Region Level
- Requires MGRA output to have already been created

In [3]:
region_ind = region_foldup(dsid='38', to_jdrive=True)
region_ind

                     hs   hs_sf   hs_mf  hs_mh       hh   hh_sf   hh_mf  \
region    year
San Diego 2016  1190554  717626  430716  42212  1134848  687509  407158
          2018  1205852  721197  442548  42107  1147635  690686  416960
          2020  1226462  722838  461517  42107  1166240  692867  433349
          2023  1262957  726724  494126  42107  1197072  696698  460237
          2025  1288217  728371  517739  42107  1219745  698590  480988
          2026  1300847  729354  529386  42107  1231007  699444  491395
          2029  1338737  730943  565687  42107  1264151  701165  522809
          2030  1351367  731412  577848  42107  1274948  701619  533151
          2032  1376162  732534  601521  42107  1296193  702532  553482
          2035  1409867  734934  632826  42107  1327588  704236  583173
          2040  1443635  737896  663632  42107  1348283  706490  601610
          2045  1460856  738005  680744  42107  1364815  707928  616689
          2050  1471300  738133  691060  42107  1374841  708704  625924

                hh_mh  gq_civ  gq_mil  ...  hotelroomtotal  truckregiontype  \
region    year                         ...
San Diego 2016  40181   63014   43285  ...           56646            23002
          2018  39989   69372   46797  ...           61917            23002
          2020  40024   72056   48307  ...           61917            23002
          2023  40137   73875   50572  ...           63707            23002
          2025  40167   74447   51327  ...           64889            23002
          2026  40168   74733   51327  ...           65379            23002
          2029  40177   75591   51327  ...           66938            23002
          2030  40178   75877   51327  ...           67428            23002
          2032  40179   76043   51327  ...           68233            23002
          2035  40179   76292   51327  ...           69454            23002
          2040  40183   76292   51327  ...           70971            23002
          2045  40198   76292   51327  ...           72189            23002
          2050  40213   76292   51327  ...           73319            23002

                district27  milestocoast         acres  effective_acres  \
region    year
San Diego 2016      221100   245307.3086  2.727204e+06     1.251249e+06
          2018      221100   245307.3086  2.727204e+06     1.251249e+06
          2020      221100   245307.3086  2.727204e+06     1.251249e+06
          2023      221100   245307.3086  2.727204e+06     1.251249e+06
          2025      221100   245307.3086  2.727204e+06     1.251249e+06
          2026      221100   245307.3086  2.727204e+06     1.251249e+06
          2029      221100   245307.3086  2.727204e+06     1.251249e+06
          2030      221100   245307.3086  2.727204e+06     1.251249e+06
          2032      221100   245307.3086  2.727204e+06     1.251249e+06
          2035      221100   245307.3086  2.727204e+06     1.251249e+06
          2040      221100   245307.3086  2.727204e+06     1.251249e+06
          2045      221100   245307.3086  2.727204e+06     1.251249e+06
          2050      221100   245307.3086  2.727204e+06     1.251249e+06

                  land_acres  MicroAccessTime  remoteAVParking  \
region    year
San Diego 2016  2.698589e+06          2333475                5
          2018  2.698589e+06          2333475                5
          2020  2.698589e+06          2333475                5
          2023  2.698589e+06          2049556                5
          2025  2.698589e+06          1688220                5
          2026  2.698589e+06          1688220                5
          2029  2.698589e+06          1688220                5
          2030  2.698589e+06          1688220                5
          2032  2.698589e+06          1688220                5
          2035  2.698589e+06          1688220                5
          2040  2.698589e+06          1688220                5
          2045  2.698589e+06          1688220                5
          2050  2.698589e+06          1688220                5

                refueling_stations
region    year
San Diego 2016                 699
          2018                 699
          2020                 699
          2023                 699
          2025                 699
          2026                 699
          2029                 699
          2030                 699
          2032                 699
          2035                 699
          2040                 699
          2045                 699
          2050                 699

[13 rows x 104 columns]

# Both File Creation
- Last run took: 2m 3.1s

In [8]:
both_df = create_both_df(dsid_1='36', dsid_2='36R', geo_level='mgra', to_jdrive=True)
both_df

            taz_36  hs_36  hs_sf_36  hs_mf_36  hs_mh_36  hh_36  hh_sf_36  \
year mgra
2016 1        3331     19        19         0         0     18        18
     2        3331     35        35         0         0     34        34
     3        3358     52        52         0         0     52        52
     4        3358     30        30         0         0     30        30
     5        3358     28        28         0         0     28        28
...            ...    ...       ...       ...       ...    ...       ...
2050 22998    1290     90        90         0         0     87        87
     22999    1290      0         0         0         0      0         0
     23000    1290    131       131         0         0    126       126
     23001    1254     83        83         0         0     81        81
     23002    1254      0         0         0         0      0         0

            hh_mf_36  hh_mh_36  gq_civ_36  ...  luz_id_36R  \
year mgra                                  ...
2016 1             0         0          0  ...          95
     2             0         0          0  ...          95
     3             0         0          0  ...          95
     4             0         0          0  ...          95
     5             0         0          0  ...          95
...              ...       ...        ...  ...         ...
2050 22998         0         0          0  ...          14
     22999         0         0          0  ...          14
     23000         0         0          0  ...          14
     23001         0         0          0  ...          14
     23002         0         0          0  ...          14

            truckregiontype_36R  district27_36R  milestocoast_36R  acres_36R  \
year mgra
2016 1                        1              27            3.7997  16.615444
     2                        1              27            3.9761  19.519185
     3                        1              27            4.1939  27.845124
     4                        1              27            4.2782   7.976178
     5                        1              27            4.0062   7.072502
...                         ...             ...               ...        ...
2050 22998                    1               1            2.6193  41.241522
     22999                    1               1            2.3703  35.842780
     23000                    1               1            2.1721  28.735275
     23001                    1               1            2.7063  41.006144
     23002                    1               1            2.4553  50.823736

            effective_acres_36R  land_acres_36R  MicroAccessTime_36R  \
year mgra
2016 1                12.961482       16.615444                   10
     2                19.519185       19.519185                   10
     3                26.867938       27.845124                   10
     4                 7.976178        7.976178                   10
     5                 7.063693        7.072502                   10
...                         ...             ...                  ...
2050 22998            26.863578       41.241522                  120
     22999            30.635095       35.842780                  120
     23000            16.109816       28.735275                  120
     23001            28.126056       41.006144                  120
     23002            34.131049       50.823736                  120

            remoteAVParking_36R  refueling_stations_36R
year mgra
2016 1                        0                       0
     2                        0                       0
     3                        0                       0
     4                        0                       0
     5                        0                       0
...                         ...                     ...
2050 22998                    0                       0
     22999                    0                       0
     23000                    0                       0
     23001                    0                       0
     23002                    0                       0

[299026 rows x 212 columns]

# Diff File Creation
- This is going to do dsid_1 minus dsid_2
- Last run took 4m 21.8s

In [4]:
diff_df = create_diff_df(dsid_1='36', dsid_2='38', geo_level='mgra', to_jdrive=True)
diff_df

,,hs,hs_sf,hs_mf,hs_mh,hh,hh_sf,hh_mf,hh_mh,gq_civ,gq_mil,...,hotelroomtotal,truckregiontype,district27,milestocoast,acres,effective_acres,land_acres,MicroAccessTime,remoteAVParking,refueling_stations
mgra,year,,,,,,,,,,,,,,,,,,,,,
1,2016,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0.0,0.0,0.0,0.0,0,0,0
2,2016,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0.0,0.0,0.0,0.0,0,0,0
3,2016,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0.0,0.0,0.0,0.0,0,0,0
4,2016,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0.0,0.0,0.0,0.0,0,0,0
5,2016,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0.0,0.0,0.0,0.0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22998,2050,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0.0,0.0,0.0,0.0,0,0,0
22999,2050,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0.0,0.0,0.0,0.0,0,0,0
23000,2050,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0.0,0.0,0.0,0.0,0,0,0
23001,2050,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0.0,0.0,0.0,0.0,0,0,0
23002,2050,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0.0,0.0,0.0,0.0,0,0,0

# Population comparison (between household csv and input files)
- Output name  is: mgra_households_dataset_population_comparison_{output_type}_DS{dsid}_QA.csv
- Last run took: 3m 16.3s

In [2]:
def population_comparison_households_and_input_files(dsid, gq_only, no_gq, to_jdrive):
    '''Compare MGRA population data to household dataset population data based on gq preference.'''
    # Input Files
    mgra_data = pd.read_csv(rf'J:\DataScience\DataQuality\QAQC\forecast_automation\mgra_series_13_outputs_CSV_data\aggregated_data\mgra_DS{dsid}_ind_QA.csv', usecols=[
                            'year', 'mgra', 'pop', 'hhp'])
    mgra_data['gq_pop_input_files'] = mgra_data['pop'] - mgra_data['hhp']

    # gq_only = True , no_gq = False
    if (gq_only == no_gq) & (gq_only == False):
        mgra_data = mgra_data[['mgra', 'year', 'pop']]
        output_type = 'all'
    elif gq_only:
        mgra_data = mgra_data[['mgra', 'year', 'gq_pop_input_files']]
        output_type = 'GQ_only'
    else:
        mgra_data = mgra_data[['mgra', 'year', 'hhp']]
        output_type = 'no_GQ'
    
    return mgra_data

In [3]:
mgra_data = population_comparison_households_and_input_files('36R', gq_only=False, no_gq=True, to_jdrive=False)
mgra_data

         mgra  year  hhp
0           1  2016   41
1           2  2016   81
2           3  2016  111
3           4  2016   73
4           5  2016   63
...       ...   ...  ...
299021  22998  2050  242
299022  22999  2050    0
299023  23000  2050  323
299024  23001  2050  204
299025  23002  2050    0

[299026 rows x 3 columns]

# Household number comparison (between households csv file and input files)
- Output file looks like: mgra_households_dataset_hh_count_comparison_no_GQ_DS{dsid}_QA.csv   
- Compare number of households between input files and households dataset. Only at the 'No GQ' level.
- Last run took: 3m 33.8s

In [2]:
hs_comp_households_input_files = household_number_comparison_houseolds_and_input_files(dsid='36R', to_jdrive=True)
hs_comp_households_input_files

         mgra  year  house_count_household_file  hh_count_input_files  Diff
0           1  2016                          18                    18     0
1           2  2016                          34                    34     0
2           3  2016                          52                    52     0
3           4  2016                          30                    30     0
4           5  2016                          28                    28     0
...       ...   ...                         ...                   ...   ...
237675  22995  2050                          37                    37     0
237676  22996  2050                         103                   103     0
237677  22998  2050                          87                    87     0
237678  23000  2050                         126                   126     0
237679  23001  2050                          81                    81     0

[237680 rows x 5 columns]

# Population comparison (Between households csv and persons csv)
- Output looks like: DS{dsid}_persons_household_population_comparison_{gq_status}_QA.csv
- Last run took: 9m 48.7s
- Data completed around: 8m 15s

In [7]:
pop_comp_households_persons = aggregate_persons_households_population_comparison(dsid='36R', gq_only=True, to_jdrive=True)
pop_comp_households_persons

2016 is complete
2018 is complete
2020 is complete
2023 is complete
2025 is complete
2026 is complete
2029 is complete
2030 is complete
2032 is complete
2035 is complete
2040 is complete
2045 is complete
2050 is complete

,hhid,Persons_Dataset_Pop,Households_Dataset_Pop,Diff_P_minus_H,year
0,886,1,NaN,NaN,2016
1,2000,1,NaN,NaN,2016
2,2554,1,NaN,NaN,2016
3,2608,1,NaN,NaN,2016
4,2852,1,NaN,NaN,2016
...,...,...,...,...,...
84340,1453334,1,1.0,0.0,2050
84341,1453335,1,1.0,0.0,2050
84342,1453336,1,1.0,0.0,2050
84343,1453337,1,1.0,0.0,2050
84344,1453338,1,1.0,0.0,2050