# Calvin ETL Work

In [1]:
#Libraries 
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os
import seaborn as sns
from matplotlib.pyplot import figure
import pyodbc 
import glob

# Collecting All Data from R Drive

In [2]:
path = r'R:/DPOE/LEHD LODES/7.5_2021_11Nov/Source/LODES_Download_2021-11-19-20-07-45/wac'
r_2019 = glob.glob(path + '/*2019.csv')

In [3]:
csv_all = r_2019

In [4]:
list_all_file = []

for filename in csv_all:
    df=pd.read_csv(filename, index_col=None, header=0)
    list_all_file.append(df)

In [5]:
r_all = pd.concat(list_all_file, axis=0, ignore_index=True)
r_all = r_all.iloc[:, :-1]
r_all
#6073 is SD County

,w_geocode,C000,CA01,CA02,CA03,CE01,CE02,CE03,CNS01,CNS02,...,CFA01,CFA02,CFA03,CFA04,CFA05,CFS01,CFS02,CFS03,CFS04,CFS05
0,60014001001007,55,24,12,19,24,6,25,0,0,...,0,0,0,0,0,0,0,0,0,0
1,60014001001008,5,0,1,4,0,0,5,0,0,...,0,0,0,0,0,0,0,0,0,0
2,60014001001011,1,0,0,1,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3,60014001001017,2,0,0,2,0,0,2,0,0,...,0,0,0,0,0,0,0,0,0,0
4,60014001001024,616,105,315,196,112,235,269,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6971687,61150401002005,1,0,1,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
6971688,61150401005037,11,1,8,2,0,1,10,0,0,...,0,0,0,0,0,0,0,0,0,0
6971689,61150401005057,2,0,2,0,0,0,2,0,0,...,0,0,0,0,0,0,0,0,0,0
6971690,61150401005067,1,1,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
6971691,61150403021028,1,1,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0

# Sorting for only San Diego

In [6]:
string_ints = [str(int) for int in r_all['w_geocode']]

tf = []
for i in string_ints:
    if i[0:4] == '6073':
        tf.append(True)
    else:
        tf.append(False)

sorted_r = r_all[tf]
sorted_r

,w_geocode,C000,CA01,CA02,CA03,CE01,CE02,CE03,CNS01,CNS02,...,CFA01,CFA02,CFA03,CFA04,CFA05,CFS01,CFS02,CFS03,CFS04,CFS05
179890,60730001001000,6,1,2,3,1,1,4,0,0,...,0,0,0,0,0,0,0,0,0,0
179891,60730001001004,2,0,1,1,0,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
179892,60730001001011,4,1,1,2,1,1,2,0,0,...,0,0,0,0,0,0,0,0,0,0
179893,60730001001014,3,0,3,0,0,0,3,0,0,...,0,0,0,0,0,0,0,0,0,0
179894,60730001001015,4,0,4,0,1,2,1,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6970755,60730214001011,2,0,1,1,0,0,2,0,0,...,0,0,0,0,0,0,0,0,0,0
6970756,60730214003017,28,0,20,8,0,0,28,0,0,...,0,0,0,0,0,0,0,0,0,0
6970757,60730216002001,6,1,5,0,0,2,4,0,0,...,0,0,0,0,0,0,0,0,0,0
6970758,60730221001025,1,0,1,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
6970759,60730221002002,36,2,26,8,0,2,34,0,0,...,0,0,0,0,0,0,0,0,0,0

# Export all data from R Drive to CSV
I have already done this and the file can be found in the development folder in a zip file. I have it commented out so that it doesn't unnecessarily run.

In [7]:
# compression_opts = dict(method='zip',
#                         archive_name='out.csv')  
# od_all.to_csv('out.zip', index=False,
#           compression=compression_opts)

# Import All Data From SQL

In [8]:
conn = pyodbc.connect('Driver={ODBC Driver 17 for SQL Server};'
                      'Server=DDAMWSQL16.sandag.org;'
                      'Database=dpoe_stage;'
                      'Trusted_Connection=yes;')

In [9]:
query_all = "SELECT [w_geoid]\
      ,[C000]\
      ,[CA01]\
      ,[CA02]\
      ,[CA03]\
      ,[CE01]\
      ,[CE02]\
      ,[CE03]\
      ,[CNS01]\
      ,[CNS02]\
      ,[CNS03]\
      ,[CNS04]\
      ,[CNS05]\
      ,[CNS06]\
      ,[CNS07]\
      ,[CNS08]\
      ,[CNS09]\
      ,[CNS10]\
      ,[CNS11]\
      ,[CNS12]\
      ,[CNS13]\
      ,[CNS14]\
      ,[CNS15]\
      ,[CNS16]\
      ,[CNS17]\
      ,[CNS18]\
      ,[CNS19]\
      ,[CNS20]\
      ,[CR01]\
      ,[CR02]\
      ,[CR03]\
      ,[CR04]\
      ,[CR05]\
      ,[CR07]\
      ,[CT01]\
      ,[CT02]\
      ,[CD01]\
      ,[CD02]\
      ,[CD03]\
      ,[CD04]\
      ,[CS01]\
      ,[CS02]\
      ,[CFA01]\
      ,[CFA02]\
      ,[CFA03]\
      ,[CFA04]\
      ,[CFA05]\
      ,[CFS01]\
      ,[CFS02]\
      ,[CFS03]\
      ,[CFS04]\
      ,[CFS05]\
      ,[type]\
      ,[segment]\
      ,[yr]\
  FROM [dpoe_stage].[lehd_lodes].[wac_7_5_20211018]"

In [10]:
sql_query = pd.read_sql_query(query_all,conn) # here, the 'conn' is the variable that contains your database connection information from step 2

sql_df_all = pd.DataFrame(sql_query)
sql_df_all
#06073 is SD COunty

# Splitting up the SQL data into different years

In [ ]:
sql_df_2019 = sql_df_all[sql_df_all.iloc[:,-1] == 2019]

# Removing last few columns so that it is identical to R drive file formats

In [ ]:
sql_df_all = sql_df_all.iloc[:,0:-3]

# Grabbing only the San Diego data from SQL

In [ ]:
string_ints = [str(int) for int in sql_df_all['w_geoid']]

tf = []
for i in string_ints:
    if i[0:5] == '06073':
        tf.append(True)
    else:
        tf.append(False)

sorted_SQL = sql_df_all[tf]

#Remove the leading zero
sorted_SQL['w_geoid'] = [i.lstrip('0') for i in sorted_SQL['w_geoid']]

sorted_SQL

,w_geoid,C000,CA01,CA02,CA03,CE01,CE02,CE03,CNS01,CNS02,...,CFA01,CFA02,CFA03,CFA04,CFA05,CFS01,CFS02,CFS03,CFS04,CFS05
0,60730108001008,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,60730108001032,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,60730108002013,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,60730108002025,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,60730109002013,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8820427,60730193031007,1,0,1,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
8820428,60730194062007,1,0,1,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
8820429,60730134011030,1,0,1,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
8820430,60730134011034,1,0,1,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
8820431,60730134011035,1,0,1,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0

# Checking To See If the two datasets are identical

## Checking Length

In [ ]:
print(len(sorted_r))
print(len(sorted_SQL))

492594
8820432

## Checking Shape

In [ ]:
print(sorted_r.shape)
print(sorted_SQL.shape)

(492594, 52)
(8820432, 52)

# Filter to order the DF's by GEOID

In [ ]:
sorted_SQL = sorted_SQL.apply(pd.to_numeric)
sorted_SQL = sorted_SQL.sort_values(by=['w_geoid'])
sorted_SQL

,w_geoid,C000,CA01,CA02,CA03,CE01,CE02,CE03,CNS01,CNS02,...,CFA01,CFA02,CFA03,CFA04,CFA05,CFS01,CFS02,CFS03,CFS04,CFS05
8353493,60730001001000,3,0,0,3,0,0,3,0,0,...,0,0,0,0,0,0,0,0,0,0
4613718,60730001001000,3,2,1,0,3,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8027200,60730001001000,4,4,0,0,3,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3987739,60730001001000,1,0,0,1,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1733333,60730001001000,1,0,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
754898,60730221003019,8,7,0,1,8,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4271593,60730221003019,4,3,1,0,0,0,4,0,0,...,0,0,0,0,0,0,0,0,0,0
2740457,60730221003019,6,3,1,2,0,6,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8264655,60730221003019,11,6,4,1,3,5,3,0,0,...,0,0,0,0,0,0,0,0,0,0
8754465,60730221003019,20,12,7,1,8,8,4,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
sorted_r = sorted_r.apply(pd.to_numeric)
sorted_r = sorted_r.sort_values(by=['w_geocode'])
sorted_r

,w_geocode,C000,CA01,CA02,CA03,CE01,CE02,CE03,CNS01,CNS02,...,CFA01,CFA02,CFA03,CFA04,CFA05,CFS01,CFS02,CFS03,CFS04,CFS05
179890,60730001001000,6,1,2,3,1,1,4,0,0,...,0,0,0,0,0,0,0,0,0,0
6450186,60730001001000,4,0,1,3,0,0,4,0,0,...,0,0,0,0,0,0,0,0,0,0
6222957,60730001001000,6,1,2,3,1,1,4,0,0,...,0,0,0,0,0,0,0,0,0,0
5463041,60730001001000,4,0,1,3,0,0,4,0,0,...,0,0,0,0,0,0,0,0,0,0
5309483,60730001001000,4,0,1,3,0,0,4,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
457758,60730221003016,634,190,300,144,120,226,288,0,0,...,0,0,0,0,0,0,0,0,0,0
4054408,60730221003016,120,59,36,25,120,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2026033,60730221003016,300,0,300,0,36,91,173,0,0,...,0,0,0,0,0,0,0,0,0,0
3249885,60730221003016,144,0,0,144,25,51,68,0,0,...,0,0,0,0,0,0,0,0,0,0
3058855,60730221003016,150,0,0,150,30,52,68,0,0,...,0,0,0,0,0,0,0,0,0,0

# Renaming Column Names To Match

In [ ]:
sorted_r = sorted_r.rename(columns={'w_geocode': 'w_geoid'})

In [ ]:
# Reset Indexes
sorted_r.reset_index(drop=True, inplace=True)
sorted_SQL.reset_index(drop=True, inplace=True)

# Count the number of unique Geo_ids

In [ ]:
print(sorted_SQL['w_geoid'].nunique())
print(sorted_r['w_geoid'].nunique())

31010
18194

# Checking if stats are the same

In [ ]:
sorted_SQL.describe() == sorted_r.describe()

,w_geoid,C000,CA01,CA02,CA03,CE01,CE02,CE03,CNS01,CNS02,...,CFA01,CFA02,CFA03,CFA04,CFA05,CFS01,CFS02,CFS03,CFS04,CFS05
count,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
mean,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
std,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
min,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
25%,False,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
50%,False,False,True,True,True,True,True,False,True,True,...,True,True,True,True,True,True,True,True,True,True
75%,False,False,True,True,False,True,False,False,True,True,...,True,True,True,True,True,True,True,True,True,True
max,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,True,False,False,False,False,True

In [ ]:
# Since this prints out false we see that the rounded version of the standard deviations are all the same
for i in sorted_SQL.describe().loc['std',:].round() == sorted_r.describe().loc['std',:].round():
    if i == False:
        print(False)

False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False

In [ ]:
# Check the number of census blocks in each year

In [ ]:
print(sql_df_2019['w_geoid'].nunique())

18194