In [1]:
import os
import pandas as pd
import numpy as np
import pyodbc

In [2]:
mgra_level_data = pd.read_csv(r'T:\socioec\Current_Projects\SR15\S0\version4\abm_csv\mgra15_based_input_2022_01.csv')
mgra_level_data = mgra_level_data.drop(['taz', 'LUZ'], axis=1)
mgra_level_data

,mgra,pop,hhp,hs,hs_sf,hs_mf,hs_mh,hh,hh_sf,hh_mf,...,hotelroomtotal,parkactive,openspaceparkpreserve,beachactive,district27,milestocoast,acre,landacre,effective_acres,truckregiontype
0,1,440,440,176,84,92,0,174,83,91,...,0,0.0,0.00000,0.0,9,4.35,18.837621,18.837621,18.837621,1
1,2,130,68,56,0,56,0,48,0,48,...,0,0.0,0.00000,0.0,15,0.64,2.872330,2.872330,2.872330,1
2,3,549,549,200,23,177,0,192,23,169,...,0,0.0,0.00000,0.0,13,12.22,25.713898,25.713898,25.713898,1
3,4,5,5,3,3,0,0,2,2,0,...,0,0.0,0.00000,0.0,2,0.17,2.678374,2.678374,2.678374,1
4,5,90,90,43,43,0,0,36,36,0,...,0,0.0,0.00000,0.0,2,0.47,4.057765,4.057765,4.057765,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24316,24317,5,5,2,2,0,0,2,2,0,...,0,0.0,0.00000,0.0,9,7.76,0.648684,0.648684,0.648684,1
24317,24318,136,136,46,46,0,0,46,46,0,...,0,0.0,0.00000,0.0,3,14.73,50.854228,50.854228,50.514707,1
24318,24319,0,0,0,0,0,0,0,0,0,...,0,0.0,39188.40744,0.0,14,55.40,39632.715274,39632.715274,1892.855556,1
24319,24320,0,0,0,0,0,0,0,0,0,...,0,0.0,47858.17530,0.0,14,68.04,47918.538908,47918.538908,-1.847529,1
24320,24321,67,67,23,23,0,0,20,20,0,...,0,0.0,0.00000,0.0,3,13.94,8.280082,8.280082,8.280082,1

In [3]:
employment_centers_data = pd.read_excel(r'C:\Users\cra\San Diego Association of Governments\SANDAG QA QC - Documents\Projects\2023\2023-028 MGRA15 Input Table 2022\2023-028-02\Results\00_MASTER_MGRA15_to_EC2_XRef_2023_01_31.xlsx', sheet_name='MGRA-EC XRef 2023_01_24', header=1)
employment_centers_data = employment_centers_data[['MGRA15', 'EC_Name']]
employment_centers_data = employment_centers_data.dropna().reset_index(drop=True)
employment_centers_data

      MGRA15                  EC_Name
0          2                 Downtown
1          3                 El Cajon
2         12                Hillcrest
3         16             Barrio Logan
4         17              Golden Hill
...      ...                      ...
8278   24306  San Marcos Civic Center
8279   24309  San Marcos Civic Center
8280   24313   Oceanside Civic Center
8281   24314             Solana Beach
8282   24317                  La Mesa

[8283 rows x 2 columns]

In [6]:
output = mgra_level_data.merge(employment_centers_data, how='left', right_on='MGRA15', left_on='mgra')
output = output.drop(['mgra', 'MGRA15'], axis=1)
output = output.groupby('EC_Name').sum()
output['hhs'] = output['hhp']/output['hh']
output.to_excel('mgra_based_input_employment_centers_update.xlsx')

In [5]:
output

,pop,hhp,hs,hs_sf,hs_mf,hs_mh,hh,hh_sf,hh_mf,hh_mh,...,hotelroomtotal,parkactive,openspaceparkpreserve,beachactive,district27,milestocoast,acre,landacre,effective_acres,truckregiontype
EC_Name,,,,,,,,,,,,,,,,,,,,,
Alpine,4364,4255,1678,870,654,154,1608,840,622,146,...,100,0.000000,38.799241,0.0,504,851.29,1677.487082,1677.487082,1613.747944,36
Balboa Park,3,0,0,0,0,0,0,0,0,0,...,0,218.488796,316.629163,0.0,254,44.45,1202.963373,1202.963373,1041.575693,27
Barona Resort & Casino,729,729,231,231,0,0,231,231,0,0,...,400,25.059417,0.000000,0.0,28,44.87,3196.476368,3196.476368,3178.081016,2
Barrio Logan,5066,4420,1718,801,917,0,1563,761,802,0,...,42,25.302995,2.806484,0.0,775,25.60,525.050428,525.050428,525.050428,62
Carlsbad Palomar Airport,1011,928,342,97,245,0,336,92,244,0,...,986,7.688508,617.837528,0.0,74,249.76,3030.412149,3030.412149,2485.900906,74
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Vista Guajome,3411,3238,978,218,623,137,949,215,597,137,...,0,0.000000,0.000000,0.0,29,241.81,303.603818,303.603818,303.602877,29
Vista Sycamore,195,145,59,52,7,0,58,51,7,0,...,106,0.000000,9.711405,0.0,12,87.24,213.381276,213.381276,213.381276,12
Vista Tech Park,1346,1346,554,483,71,0,530,460,70,0,...,244,0.000000,142.452965,0.0,43,251.12,1491.515937,1491.515937,1371.630206,43
Vista Village,15712,14616,4968,1479,3025,464,4773,1425,2907,441,...,79,8.630581,5.933930,0.0,128,875.73,1255.004063,1255.004063,1255.004063,128
West Bernardo,596,489,353,0,353,0,315,0,315,0,...,768,0.000000,68.313037,0.0,192,529.69,1170.576669,1170.576669,1146.893178,48