**Author: PSI**

**Project Descriptio:2018 LEHD Data QC (version 7.5) of the origin- destination (OD) data**

QC checks: <br>

Part 1-Compare the source data and staging tables for: <br>
-Field totals<br>
-Number of Records <br>
-Spot checking data <br>

Part 2-Checking outliers in data by sorting data from highest to lowest and visualizing those census tracts in ArcGISPro

**Installing Packages**

In [16]:
import os 
import pandas as pd
import numpy as np
import glob
import pyodbc
import gc

**Loading the source data**

In [17]:
%%time 

path = r'R:/DPOE/LEHD LODES/7.5/Source/OD_Data/Unzipped_RD'

# 2016 source data
csv_2016 = glob.glob(path + "/*2016.csv")
list_2016 = []

for filename in csv_2016:
    df = pd.read_csv(filename, index_col=None, header=0)
    list_2016.append(df)

od_2016 = pd.concat(list_2016, axis=0, ignore_index=True)

od_2016

Wall time: 6min 3s

,w_geocode,h_geocode,S000,SA01,SA02,SA03,SE01,SE02,SE03,SI01,SI02,SI03,createdate
0,6.001400e+13,4.833970e+14,1,1,0,0,1,0,0,0,0,1,20200924
1,6.001400e+13,2.711600e+14,1,0,0,1,0,1,0,0,0,1,20200924
2,6.001400e+13,5.306110e+14,1,0,1,0,0,1,0,0,0,1,20200924
3,6.001400e+13,2.607500e+14,1,1,0,0,0,1,0,0,0,1,20200924
4,6.001400e+13,4.811300e+14,1,0,1,0,1,0,0,0,0,1,20200924
...,...,...,...,...,...,...,...,...,...,...,...,...,...
54993139,6.115040e+13,6.101051e+13,1,0,0,1,0,1,0,0,0,1,20200924
54993140,6.115040e+13,6.113011e+13,1,0,1,0,0,0,1,0,0,1,20200924
54993141,6.115040e+13,6.101050e+13,1,0,0,1,0,0,1,0,0,1,20200924
54993142,6.115040e+13,6.101051e+13,1,0,0,1,0,0,1,0,0,1,20200924
54993143,6.115040e+13,6.115040e+13,1,0,1,0,0,0,1,0,0,1,20200924

In [18]:
glob.glob(path + "/*2016.csv")

['R:/DPOE/LEHD LODES/7.5/Source/OD_Data/Unzipped_RD\\ca_od_aux_JT00_2016.csv',
 'R:/DPOE/LEHD LODES/7.5/Source/OD_Data/Unzipped_RD\\ca_od_aux_JT01_2016.csv',
 'R:/DPOE/LEHD LODES/7.5/Source/OD_Data/Unzipped_RD\\ca_od_aux_JT02_2016.csv',
 'R:/DPOE/LEHD LODES/7.5/Source/OD_Data/Unzipped_RD\\ca_od_aux_JT03_2016.csv',
 'R:/DPOE/LEHD LODES/7.5/Source/OD_Data/Unzipped_RD\\ca_od_aux_JT04_2016.csv',
 'R:/DPOE/LEHD LODES/7.5/Source/OD_Data/Unzipped_RD\\ca_od_aux_JT05_2016.csv',
 'R:/DPOE/LEHD LODES/7.5/Source/OD_Data/Unzipped_RD\\ca_od_main_JT00_2016.csv',
 'R:/DPOE/LEHD LODES/7.5/Source/OD_Data/Unzipped_RD\\ca_od_main_JT01_2016.csv',
 'R:/DPOE/LEHD LODES/7.5/Source/OD_Data/Unzipped_RD\\ca_od_main_JT02_2016.csv',
 'R:/DPOE/LEHD LODES/7.5/Source/OD_Data/Unzipped_RD\\ca_od_main_JT03_2016.csv',
 'R:/DPOE/LEHD LODES/7.5/Source/OD_Data/Unzipped_RD\\ca_od_main_JT04_2016.csv',
 'R:/DPOE/LEHD LODES/7.5/Source/OD_Data/Unzipped_RD\\ca_od_main_JT05_2016.csv']

In [19]:
%%time

# 2017 source data
csv_2017 = glob.glob(path + "/*2017.csv")
list_2017 = []

for filename in csv_2017:
    df = pd.read_csv(filename, index_col=None, header=0)
    list_2017.append(df)

od_2017 = pd.concat(list_2017, axis=0, ignore_index=True)

Wall time: 5min 37s

In [20]:
%%time

# 2018 source data
csv_2018 = glob.glob(path + "/*2018.csv")
list_2018 = []

for filename in csv_2018:
    df = pd.read_csv(filename, index_col=None, header=0)
    list_2018.append(df)

od_2018 = pd.concat(list_2018, axis=0, ignore_index=True)

Wall time: 7min 2s

**Loading the staging tables**

In [21]:
conn = pyodbc.connect('Driver={ODBC Driver 17 for SQL Server};'
                      'Server=DDAMWSQL16.sandag.org;'
                      'Database=socioec_data;'
                      'Trusted_Connection=yes;')

In [22]:
%%time

#2016
od_db16 ="SELECT * "\
                  "FROM [socioec_data].[lehd_lodes].[od_7_5]"\
                   "WHERE yr= 2016"
db16 = pd.read_sql_query(od_db16, conn)

# #2017
# od_db17 ="SELECT * "\
#                   "FROM [socioec_data].[lehd_lodes].[od_7_5]"\
#                    "WHERE yr= 2017"
# db17 = pd.read_sql_query(od_db17, conn)  

# #2018
# od_db18 ="SELECT * "\
#                   "FROM [socioec_data].[lehd_lodes].[od_7_5]"\
#                    "WHERE yr= 2018"
# db18 = pd.read_sql_query(od_db18, conn)

Wall time: 2min 7s

In [23]:
%%time

#2017
od_db17 ="SELECT * "\
                  "FROM [socioec_data].[lehd_lodes].[od_7_5]"\
                   "WHERE yr= 2017"
db17 = pd.read_sql_query(od_db17, conn)

Wall time: 1min 23s

In [24]:
%%time

#2018
od_db18 ="SELECT * "\
                  "FROM [socioec_data].[lehd_lodes].[od_7_5]"\
                   "WHERE yr= 2018"
db18 = pd.read_sql_query(od_db18, conn)

Wall time: 1min 23s

In [25]:
db16

,w_geoid,h_geoid,S000,SA01,SA02,SA03,SE01,SE02,SE03,SI01,SI02,SI03,type,yr
0,060730133101040,060730032122007,1,0,1,0,0,0,1,0,0,1,JT00,2016
1,060730133101040,060730032122009,1,0,1,0,0,0,1,0,0,1,JT00,2016
2,060730133101040,060730032122018,1,0,0,1,0,1,0,0,0,1,JT00,2016
3,060730133101040,060730032122022,1,0,1,0,0,0,1,0,0,1,JT00,2016
4,060730133101040,060730032131001,1,0,1,0,0,1,0,0,0,1,JT00,2016
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5459436,060730205001013,060730168044008,1,0,1,0,0,0,1,0,1,0,JT00,2016
5459437,060730205001013,060730170061017,1,1,0,0,1,0,0,0,1,0,JT00,2016
5459438,060730205001013,060730170092000,1,0,1,0,0,1,0,0,1,0,JT00,2016
5459439,060730205001013,060730170092007,3,2,0,1,1,2,0,0,3,0,JT00,2016
5459440,060730205001013,060730170102007,1,1,0,0,1,0,0,0,1,0,JT00,2016

**QC checks** 
1. Compare the sum totals by columns
2. Compare data types 
3. Conduct spot checks for top 1000 rows<br> 
**Note**- The source data will have to be subsetted to include only San Diego geoid (starting with 6073) and remove unnecessary columns

In [26]:
%%time
# Subsetting the source data 
od_2016_sub= od_2016 [od_2016 ['w_geocode'].astype(str).str.startswith('6073') | od_2016 ['h_geocode'].astype(str).str.startswith('6073') ]

Wall time: 2min 44s

In [28]:
od_2016_sub

,w_geocode,h_geocode,S000,SA01,SA02,SA03,SE01,SE02,SE03,SI01,SI02,SI03,createdate
103967,6.073000e+13,1.325200e+14,1,0,0,1,1,0,0,0,0,1,20200924
103968,6.073000e+13,3.104800e+14,1,0,0,1,0,1,0,0,0,1,20200924
103969,6.073000e+13,4.007400e+14,1,0,0,1,0,1,0,0,0,1,20200924
103970,6.073000e+13,3.200300e+14,1,1,0,0,0,1,0,0,0,1,20200924
103971,6.073000e+13,3.301300e+14,1,1,0,0,0,1,0,0,0,1,20200924
...,...,...,...,...,...,...,...,...,...,...,...,...,...
54990785,6.095252e+13,6.073019e+13,1,0,0,1,0,0,1,0,0,1,20200924
54992409,6.109001e+13,6.073017e+13,1,0,1,0,0,1,0,0,0,1,20200924
54992600,6.111002e+13,6.073019e+13,1,0,0,1,0,0,1,0,0,1,20200924
54992645,6.111003e+13,6.073017e+13,1,0,1,0,0,0,1,0,0,1,20200924
54993082,6.113011e+13,6.073010e+13,1,0,1,0,0,0,1,0,0,1,20200924

In [27]:
%%time
od_2017_sub= od_2017 [od_2017 ['w_geocode'].astype(str).str.startswith('6073') | od_2017 ['h_geocode'].astype(str).str.startswith('6073') ]

MemoryError: Unable to allocate 852. MiB for an array with shape (55848143,) and data type complex128

In [ ]:
%%time
od_2018_sub= od_2018 [od_2018 ['w_geocode'].astype(str).str.startswith('6073') | od_2018 ['h_geocode'].astype(str).str.startswith('6073') ]

In [ ]:
# od_2016_sub
# od_2017_sub
od_2018_sub

In [ ]:
# len(od_2016_w)+ len(od_2016_h)

In [29]:
print('2016: {0} {1}'.format(len(od_2016_sub), len(db16)))
# print('2017: {0} {1} ({2})'.format(len(od_2017_sub), len(db17), len(od_2017_sub)-len(db17)))
# print('2018: {0} {1}'.format(len(od_2018_sub), len(db18)))

2016: 5469881 5459441

In [ ]:
od_2017.info(memory_usage='deep')