# DS 35/41 - Employment
Created: 1/4/2022  
Author: DLE

QC Checks:  
Total Employment  
Employment by Sector

Check for null values  
Comparison with DS35/38- totals and trend  
Trend Analysis- visual trend analysis to spot anomalies  
Threshold Analysis- y-o-y increase more than  20% and 5000 for hhpop 
MGRA level check? Series 13 and 14 comparison

In [1]:
import pandas as pd
import pyodbc
import os
import glob

## DS/XPEF equivalents

* DS35 == XPEF31 --- T:\socioec\Current_Projects\XPEF31\abm_csv 
* DS41 == XPEF35 --- T:\socioec\Current_Projects\XPEF35\abm_csv\New_mgra_based_input
-----
* DS38 == XPEF33 --- T:\socioec\Current_Projects\XPEF33\abm_csv\new_parking
* DS42 == XPEF36 --- T:\socioec\Current_Projects\XPEF36\abm_csv\new_parking\New_mgra_based_input

### DS41 == XPEF35

In [2]:
%%time

# Import CSVs as dataframes in dictionary

yrs = ['2016', '2018', '2020', '2023', '2025', '2026', '2029', '2030', '2032', '2035', '2040', '2045', '2050']
df41 = {}

path = r'T:\socioec\Current_Projects\XPEF35\abm_csv\New_mgra_based_input'
        
for x in yrs:
    file = path + '\mgra13_based_input' + x + '_02.csv'
    df41[x] = pd.read_csv(file)
    
    # Subset employment-related columns
    df41[x] = df41[x].iloc[:, df41[x].columns.str.startswith('emp_') | df41[x].columns.str.startswith('mgra')]
    
    # Add a year column to distinguish records when dataframes are combined
    df41[x]['yr'] = x
    
    # Check null values
    if df41[x].isnull().values.any():
        print(x + ' - ' + 'contains null values')
    else:
        print(x + ' - ' + 'pass')

df41['2016']

2016 - pass
2018 - pass
2020 - pass
2023 - pass
2025 - pass
2026 - pass
2029 - pass
2030 - pass
2032 - pass
2035 - pass
2040 - pass
2045 - pass
2050 - pass
Wall time: 1min 38s

,mgra,emp_ag,emp_const_non_bldg_prod,emp_const_non_bldg_office,emp_utilities_prod,emp_utilities_office,emp_const_bldg_prod,emp_const_bldg_office,emp_mfg_prod,emp_mfg_office,...,emp_fed_mil,emp_state_local_gov_blue,emp_state_local_gov_white,emp_public_ed,emp_own_occ_dwell_mgmt,emp_fed_gov_accts,emp_st_lcl_gov_accts,emp_cap_accts,emp_total,yr
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,10,2016
1,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2016
2,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,4,2016
3,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2016
4,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2016
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22997,22998,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,20,2016
22998,22999,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,116,2016
22999,23000,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2016
23000,23001,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,6,2016
23001,23002,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2016

In [3]:
# Concatenate all individual year dfs into a single df
df41_all = pd.concat(df41.values(), ignore_index=True)
df41_all

,mgra,emp_ag,emp_const_non_bldg_prod,emp_const_non_bldg_office,emp_utilities_prod,emp_utilities_office,emp_const_bldg_prod,emp_const_bldg_office,emp_mfg_prod,emp_mfg_office,...,emp_fed_mil,emp_state_local_gov_blue,emp_state_local_gov_white,emp_public_ed,emp_own_occ_dwell_mgmt,emp_fed_gov_accts,emp_st_lcl_gov_accts,emp_cap_accts,emp_total,yr
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,10,2016
1,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2016
2,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,4,2016
3,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2016
4,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2016
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
299021,22998,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,22,2050
299022,22999,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,147,2050
299023,23000,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,2,2050
299024,23001,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,7,2050
299025,23002,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,2,2050

### DS35 == XPEF31

In [4]:
%%time

# Import CSVs as dataframes in dictionary

yrs = ['2016', '2018', '2020', '2023', '2025', '2026', '2029', '2030', '2032', '2035', '2040', '2045', '2050']
df35 = {}

path = r'T:\socioec\Current_Projects\XPEF31\abm_csv'
        
for x in yrs:
    file = path + '\mgra13_based_input' + x + '_01.csv'
    df35[x] = pd.read_csv(file)
    
    # Subset employment-related columns
    df35[x] = df35[x].iloc[:, df35[x].columns.str.startswith('emp_') | df35[x].columns.str.startswith('mgra')]
    
    # Add a year column to distinguish records when dataframes are combined
    df35[x]['yr'] = x

df35['2016']

Wall time: 1min 44s

,mgra,emp_ag,emp_const_non_bldg_prod,emp_const_non_bldg_office,emp_utilities_prod,emp_utilities_office,emp_const_bldg_prod,emp_const_bldg_office,emp_mfg_prod,emp_mfg_office,...,emp_fed_mil,emp_state_local_gov_blue,emp_state_local_gov_white,emp_public_ed,emp_own_occ_dwell_mgmt,emp_fed_gov_accts,emp_st_lcl_gov_accts,emp_cap_accts,emp_total,yr
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,10,2016
1,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2016
2,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,4,2016
3,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2016
4,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2016
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22997,22998,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,20,2016
22998,22999,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,116,2016
22999,23000,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2016
23000,23001,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,6,2016
23001,23002,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2016

In [5]:
# Concatenate all individual year dfs into a single df
df35_all = pd.concat(df35.values(), ignore_index=True)
df35_all

,mgra,emp_ag,emp_const_non_bldg_prod,emp_const_non_bldg_office,emp_utilities_prod,emp_utilities_office,emp_const_bldg_prod,emp_const_bldg_office,emp_mfg_prod,emp_mfg_office,...,emp_fed_mil,emp_state_local_gov_blue,emp_state_local_gov_white,emp_public_ed,emp_own_occ_dwell_mgmt,emp_fed_gov_accts,emp_st_lcl_gov_accts,emp_cap_accts,emp_total,yr
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,10,2016
1,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2016
2,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,4,2016
3,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2016
4,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2016
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
299021,22998,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,22,2050
299022,22999,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,147,2050
299023,23000,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,2,2050
299024,23001,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,7,2050
299025,23002,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,2,2050

# Aggregated MGRAs (i.e. region, jurisdiction, cpa)

## SQL mgra dim table

In [6]:
# Connect to DDAMWSQL16 to access MGRA dimensions table
conn = pyodbc.connect('Driver={ODBC Driver 17 for SQL Server};'
                      'Server=DDAMWSQL16.sandag.org;'
                      'Database=socioec_data;'
                      'Trusted_Connection=yes;')

mgra = ['region','jurisdiction','cpa']
dim_mgra = {}

for x in mgra:
    qry = "SELECT DISTINCT \
        mgra, geotype, geozone \
        FROM demographic_warehouse.dim.mgra \
        WHERE series = 14 AND geotype = '" + x + "' \
        ORDER BY mgra"
    
    dim_mgra[x] = pd.read_sql_query(qry, conn)

dim_mgra['cpa']

        mgra geotype         geozone
0          1     cpa  Mission Valley
1          1     cpa          Uptown
2          2     cpa  Mission Valley
3          2     cpa          Uptown
4          3     cpa  Mission Valley
...      ...     ...             ...
26951  22998     cpa  *Not in a CPA*
26952  22999     cpa  *Not in a CPA*
26953  23000     cpa  *Not in a CPA*
26954  23001     cpa  *Not in a CPA*
26955  23002     cpa  *Not in a CPA*

[26956 rows x 3 columns]

## Summarize by mgra

In [7]:
# Join df with mgra information
df41_mgra = {}
df35_mgra = {}

for x in mgra:
    df41_mgra[x] = pd.merge(df41_all, dim_mgra[x], on='mgra', how='left')
    df35_mgra[x] = pd.merge(df35_all, dim_mgra[x], on='mgra', how='left')

df41_mgra['jurisdiction']

,mgra,emp_ag,emp_const_non_bldg_prod,emp_const_non_bldg_office,emp_utilities_prod,emp_utilities_office,emp_const_bldg_prod,emp_const_bldg_office,emp_mfg_prod,emp_mfg_office,...,emp_state_local_gov_white,emp_public_ed,emp_own_occ_dwell_mgmt,emp_fed_gov_accts,emp_st_lcl_gov_accts,emp_cap_accts,emp_total,yr,geotype,geozone
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,10,2016,jurisdiction,San Diego
1,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,2016,jurisdiction,San Diego
2,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,4,2016,jurisdiction,San Diego
3,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,2016,jurisdiction,San Diego
4,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,2016,jurisdiction,San Diego
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
330299,22998,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,22,2050,jurisdiction,Carlsbad
330300,22999,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,147,2050,jurisdiction,Carlsbad
330301,23000,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,2,2050,jurisdiction,Carlsbad
330302,23001,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,7,2050,jurisdiction,Carlsbad
330303,23002,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,2,2050,jurisdiction,Carlsbad

In [8]:
# Group & summarize by mgra and year
df41_grp = {}
df35_grp = {}

for x in mgra:
    df41_grp[x] = df41_mgra[x].groupby(['geozone','yr']).sum()
    df41_grp[x] = df41_grp[x].iloc[:, df41_grp[x].columns.str.startswith('emp_')]
    # df41_grp[x].loc['col total'] = df41_grp[x].sum(axis=0)
    # df41_grp[x].loc[:,'row total'] = df41_grp[x].sum(axis=1) - df41_grp[x]['emp_total']
    
    df35_grp[x] = df35_mgra[x].groupby(['geozone','yr']).sum()
    df35_grp[x] = df35_grp[x].iloc[:, df35_grp[x].columns.str.startswith('emp_')]
    # df35_grp[x].loc['col total'] = df35_grp[x].sum(axis=0)
    # df35_grp[x].loc[:,'row total'] = df35_grp[x].sum(axis=1) - df35_grp[x]['emp_total']

df41_grp['region']

                emp_ag  emp_const_non_bldg_prod  emp_const_non_bldg_office  \
geozone   yr
San Diego 2016    9300                     8172                       2854
          2018    9616                     6344                       2121
          2020    9617                     6358                       2123
          2023    9809                     6213                       2085
          2025    9907                     6116                       2057
          2026    9985                     6126                       2057
          2029   10302                     6311                       2128
          2030   10380                     6321                       2128
          2032   10547                     6350                       2116
          2035   10851                     6505                       2146
          2040   11254                     6621                       2202
          2045   11601                     6802                       2237
          2050   11852                     6965                       2306

                emp_utilities_prod  emp_utilities_office  emp_const_bldg_prod  \
geozone   yr
San Diego 2016                2731                  4477                53987
          2018                2757                  4695                58132
          2020                2758                  4696                58226
          2023                2790                  4815                59797
          2025                2798                  4880                60670
          2026                2828                  4905                61228
          2029                2980                  5010                63235
          2030                3010                  5035                63793
          2032                3027                  5142                65030
          2035                3082                  5328                67017
          2040                3088                  5632                70202
          2045                3189                  5800                72829
          2050                3282                  5903                74664

                emp_const_bldg_office  emp_mfg_prod  emp_mfg_office  \
geozone   yr
San Diego 2016                  18485         48706           60528
          2018                  19879         50338           62523
          2020                  19921         50339           62522
          2023                  20530         51235           63639
          2025                  20765         51758           64288
          2026                  20937         52196           64830
          2029                  21862         53712           66667
          2030                  22034         54150           67209
          2032                  22433         55034           68325
          2035                  23284         56492           70126
          2040                  24011         58506           72555
          2045                  24779         60176           74672
          2050                  25459         61355           76148

                emp_whsle_whs  ...  emp_fed_non_mil  emp_fed_mil  \
geozone   yr                   ...
San Diego 2016          46625  ...            11454       126948
          2018          48228  ...            11841       127708
          2020          48252  ...            11841       131042
          2023          49197  ...            12057       135457
          2025          49758  ...            12195       138402
          2026          50208  ...            12306       138628
          2029          51738  ...            12660       139310
          2030          52188  ...            12771       139536
          2032          53111  ...            12998       139983
          2035          54607  ...            13346       140662
          2040          56688  ...            13833       141622
          2045          58497  ...            14256       142449
          2050          59822  ...            14557       143043

                emp_state_local_gov_blue  emp_state_local_gov_white  \
geozone   yr
San Diego 2016                      9327                      16323
          2018                      9642                      16898
          2020                      9644                      16897
          2023                      9811                      17207
          2025                      9911                      17401
          2026                      9999                      17559
          2029                     10291                      18063
          2030                     10379                      18221
          2032                     10570                      18532
          2035                     10871                      19014
          2040                     11228                      19717
          2045                     11557                      20311
          2050                     11773                      20727

                emp_public_ed  emp_own_occ_dwell_mgmt  emp_fed_gov_accts  \
geozone   yr
San Diego 2016              0                       0                  0
          2018              0                       0                  0
          2020              0                       0                  0
          2023              0                       0                  0
          2025              0                       0                  0
          2026              0                       0                  0
          2029              0                       0                  0
          2030              0                       0                  0
          2032              0                       0                  0
          2035              0                       0                  0
          2040              0                       0                  0
          2045              0                       0                  0
          2050              0                       0                  0

                emp_st_lcl_gov_accts  emp_cap_accts  emp_total
geozone   yr
San Diego 2016                     0              0    1629940
          2018                     0              0    1699648
          2020                     0              0    1716987
          2023                     0              0    1760617
          2025                     0              0    1788991
          2026                     0              0    1804807
          2029                     0              0    1853729
          2030                     0              0    1869545
          2032                     0              0    1895624
          2035                     0              0    1935854
          2040                     0              0    1999481
          2045                     0              0    2052944
          2050                     0              0    2094304

[13 rows x 35 columns]

## Compare 41 with 35

In [9]:
df_comp = {}

for x in mgra:
    df_comp[x] = df41_grp[x].subtract(df35_grp[x])
    # df_comp[x].loc[:,'row-emp total diff'] = df_comp[x]['row total'] - df_comp[x]['emp_total']


df_comp['region']

                emp_ag  emp_const_non_bldg_prod  emp_const_non_bldg_office  \
geozone   yr
San Diego 2016       0                        9                          1
          2018       0                      -20                         -7
          2020       0                      -20                         -6
          2023      -4                       -9                        -11
          2025       0                       -8                         -8
          2026       0                       -8                         -8
          2029       0                       -5                         -8
          2030       0                       -5                         -8
          2032      -3                       -8                        -12
          2035       0                       -1                        -15
          2040       0                        2                         -5
          2045       0                       -4                        -20
          2050       0                      -11                        -20

                emp_utilities_prod  emp_utilities_office  emp_const_bldg_prod  \
geozone   yr
San Diego 2016                   2                    -2                  -11
          2018                  -2                     2                   51
          2020                  -2                     2                   40
          2023                  -1                    -1                   34
          2025                  -3                     3                   45
          2026                  -3                     6                   37
          2029                   7                   -10                   39
          2030                   7                    -7                   31
          2032                   6                    -9                   41
          2035                   0                     0                   40
          2040                   5                    -5                   36
          2045                   3                    -3                   33
          2050                   2                    -2                   62

                emp_const_bldg_office  emp_mfg_prod  emp_mfg_office  \
geozone   yr
San Diego 2016                      1            10             -10
          2018                    -24             5              -5
          2020                    -14             7              -7
          2023                    -30             7             -14
          2025                    -29            18             -18
          2026                    -26            26             -16
          2029                    -21            22             -32
          2030                    -18            30             -30
          2032                     -1            35             -40
          2035                    -24            16             -16
          2040                    -33            -8               8
          2045                     -9           -14              14
          2050                    -31            26             -26

                emp_whsle_whs  ...  emp_fed_non_mil  emp_fed_mil  \
geozone   yr                   ...
San Diego 2016              0  ...                0            0
          2018              0  ...                0            0
          2020              0  ...                0            0
          2023             -8  ...                3           -2
          2025              0  ...                0            0
          2026              0  ...               -3           -3
          2029              0  ...                3            3
          2030              0  ...                0            0
          2032            -13  ...                1           -4
          2035              0  ...                0            0
          2040              0  ...                0            0
          2045              0  ...                0            0
          2050              0  ...                0            0

                emp_state_local_gov_blue  emp_state_local_gov_white  \
geozone   yr
San Diego 2016                       -10                         -9
          2018                         0                         -1
          2020                         1                         -4
          2023                        -1                          4
          2025                         3                         -3
          2026                        -1                         -4
          2029                         5                          1
          2030                         1                          0
          2032                         6                          0
          2035                         4                          1
          2040                         1                          1
          2045                         3                         -4
          2050                         0                         -1

                emp_public_ed  emp_own_occ_dwell_mgmt  emp_fed_gov_accts  \
geozone   yr
San Diego 2016              0                       0                  0
          2018              0                       0                  0
          2020              0                       0                  0
          2023              0                       0                  0
          2025              0                       0                  0
          2026              0                       0                  0
          2029              0                       0                  0
          2030              0                       0                  0
          2032              0                       0                  0
          2035              0                       0                  0
          2040              0                       0                  0
          2045              0                       0                  0
          2050              0                       0                  0

                emp_st_lcl_gov_accts  emp_cap_accts  emp_total
geozone   yr
San Diego 2016                     0              0         -8
          2018                     0              0         32
          2020                     0              0         12
          2023                     0              0        -15
          2025                     0              0         19
          2026                     0              0         12
          2029                     0              0         14
          2030                     0              0          7
          2032                     0              0         10
          2035                     0              0         16
          2040                     0              0         -6
          2045                     0              0         44
          2050                     0              0          8

[13 rows x 35 columns]

# Individual MGRAs

In [10]:
df41['2016']

,mgra,emp_ag,emp_const_non_bldg_prod,emp_const_non_bldg_office,emp_utilities_prod,emp_utilities_office,emp_const_bldg_prod,emp_const_bldg_office,emp_mfg_prod,emp_mfg_office,...,emp_fed_mil,emp_state_local_gov_blue,emp_state_local_gov_white,emp_public_ed,emp_own_occ_dwell_mgmt,emp_fed_gov_accts,emp_st_lcl_gov_accts,emp_cap_accts,emp_total,yr
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,10,2016
1,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2016
2,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,4,2016
3,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2016
4,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2016
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22997,22998,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,20,2016
22998,22999,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,116,2016
22999,23000,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2016
23000,23001,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,6,2016
23001,23002,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2016

In [11]:
df_comp_mgra = {}

for x in yrs:
    df_comp_mgra[x] = df41[x].select_dtypes(include=['int64']).subtract(df35[x].select_dtypes(include=['int64']))

df_comp_mgra['2016']

,mgra,emp_ag,emp_const_non_bldg_prod,emp_const_non_bldg_office,emp_utilities_prod,emp_utilities_office,emp_const_bldg_prod,emp_const_bldg_office,emp_mfg_prod,emp_mfg_office,...,emp_fed_non_mil,emp_fed_mil,emp_state_local_gov_blue,emp_state_local_gov_white,emp_public_ed,emp_own_occ_dwell_mgmt,emp_fed_gov_accts,emp_st_lcl_gov_accts,emp_cap_accts,emp_total
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22997,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
22998,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
22999,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
23000,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
23001,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [12]:
df_comp_mgra_all = df41_all.select_dtypes(include=['int64']).subtract(df35_all.select_dtypes(include=['int64']))
df_comp_mgra_all

,mgra,emp_ag,emp_const_non_bldg_prod,emp_const_non_bldg_office,emp_utilities_prod,emp_utilities_office,emp_const_bldg_prod,emp_const_bldg_office,emp_mfg_prod,emp_mfg_office,...,emp_fed_non_mil,emp_fed_mil,emp_state_local_gov_blue,emp_state_local_gov_white,emp_public_ed,emp_own_occ_dwell_mgmt,emp_fed_gov_accts,emp_st_lcl_gov_accts,emp_cap_accts,emp_total
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
299021,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
299022,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
299023,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
299024,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
299025,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

# Export to Excel

### Export MGRA level data (all DS files combined)

In [14]:
%%time

# Export DS41/35 MGRA-level data 
# LAST RUN TIME = 28 minutes

writer = pd.ExcelWriter('DS41_35_Employment_MGRA.xlsx')

print('Working on DS41...')
df41_all.to_excel(writer,'DS41_all')
print('Working on DS35...')
df35_all.to_excel(writer,'DS35_all')
print('Working on diff...')
df_comp_mgra_all.to_excel(writer, 'diff')

writer.save()
writer.close()

Working on DS41...
Working on DS35...
Working on diff...
Wall time: 28min 14s

### Export DS+MGRA
This one was even worse - last run: 54 min

In [ ]:
# %%time
# writer = pd.ExcelWriter('DS41_35_mgra.xlsx')

# for x in mgra:
#     df41_mgra[x].to_excel(writer, sheet_name='41_'+x)
#     #df35_mgra[x].to_excel(writer, sheet_name='35_'+x)

# writer.save()
# writer.close()

### Export Grouped MGRAs + Difference Comparisons

The output is a single workbook containing separate sheets for each DS and each geozone grouping.

Region
- DS42_region
- DS38_region
- diff_region

Jurisdiction
- DS42_jurisdiction
- DS38_jurisdiction
- diff_jurisdiction

CPA
- DS42_cpa
- DS38_cpa
- diff_jurisdiction

In [13]:
%%time
writer = pd.ExcelWriter('DS41_35_Employment_grp.xlsx')

for x in mgra:
    df41_grp[x].to_excel(writer, sheet_name='41_'+x)
    df35_grp[x].to_excel(writer, sheet_name='35_'+x)
    df_comp[x].to_excel(writer, sheet_name='comp_'+x)

writer.save()
writer.close()

Wall time: 7.72 s