# DS 38/42 - Employment
Created: 1/6/2022  
Author: DLE

QC Checks:  
Total Employment  
Employment by Sector

Check for null values  
Comparison with DS35/38- totals and trend  
Trend Analysis- visual trend analysis to spot anomalies  
Threshold Analysis- y-o-y increase more than  20% and 5000 for hhpop 
MGRA level check? Series 13 and 14 comparison

In [1]:
import pandas as pd
import pyodbc
import os
import glob

## DS/XPEF equivalents

* DS35 == XPEF31 --- T:\socioec\Current_Projects\XPEF31\abm_csv 
* DS41 == XPEF35 --- T:\socioec\Current_Projects\XPEF35\abm_csv\New_mgra_based_input
-----
* DS38 == XPEF33 --- T:\socioec\Current_Projects\XPEF33\abm_csv\new_parking
* DS42 == XPEF36 --- T:\socioec\Current_Projects\XPEF36\abm_csv\new_parking\New_mgra_based_input

### DS42 == XPEF36

In [3]:
%%time

# Import CSVs as dataframes in dictionary

yrs = ['2016', '2018', '2020', '2023', '2025', '2026', '2029', '2030', '2032', '2035', '2040', '2045', '2050']
df42 = {}

path = r'T:\socioec\Current_Projects\XPEF36\abm_csv\new_parking\New_mgra_based_input'
        
for x in yrs:
    file = path + '\mgra13_based_input' + x + '_05_np.csv'
    df42[x] = pd.read_csv(file)
    
    # Subset employment-related columns
    df42[x] = df42[x].iloc[:, df42[x].columns.str.startswith('emp_') | df42[x].columns.str.startswith('mgra')]
    
    # Add a year column to distinguish records when dataframes are combined
    df42[x]['yr'] = x
    
    # Check null values
    if df42[x].isnull().values.any():
        print(x + ' - ' + 'contains null values')
    else:
        print(x + ' - ' + 'pass')

df42['2016']

2016 - pass
2018 - pass
2020 - pass
2023 - pass
2025 - pass
2026 - pass
2029 - pass
2030 - pass
2032 - pass
2035 - pass
2040 - pass
2045 - pass
2050 - pass
Wall time: 26.5 s

,mgra,emp_ag,emp_const_non_bldg_prod,emp_const_non_bldg_office,emp_utilities_prod,emp_utilities_office,emp_const_bldg_prod,emp_const_bldg_office,emp_mfg_prod,emp_mfg_office,...,emp_fed_mil,emp_state_local_gov_blue,emp_state_local_gov_white,emp_public_ed,emp_own_occ_dwell_mgmt,emp_fed_gov_accts,emp_st_lcl_gov_accts,emp_cap_accts,emp_total,yr
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,10,2016
1,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,2016
2,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,5,2016
3,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,2016
4,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2016
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22997,22998,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,22,2016
22998,22999,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,116,2016
22999,23000,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,2,2016
23000,23001,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,7,2016
23001,23002,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2016

In [4]:
# Concatenate all individual year dfs into a single df
df42_all = pd.concat(df42.values(), ignore_index=True)
df42_all

,mgra,emp_ag,emp_const_non_bldg_prod,emp_const_non_bldg_office,emp_utilities_prod,emp_utilities_office,emp_const_bldg_prod,emp_const_bldg_office,emp_mfg_prod,emp_mfg_office,...,emp_fed_mil,emp_state_local_gov_blue,emp_state_local_gov_white,emp_public_ed,emp_own_occ_dwell_mgmt,emp_fed_gov_accts,emp_st_lcl_gov_accts,emp_cap_accts,emp_total,yr
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,10,2016
1,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,2016
2,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,5,2016
3,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,2016
4,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2016
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
299021,22998,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,22,2050
299022,22999,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,147,2050
299023,23000,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,2,2050
299024,23001,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,7,2050
299025,23002,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2050

### DS38 == XPEF33

In [5]:
%%time

# Import CSVs as dataframes in dictionary

yrs = ['2016', '2018', '2020', '2023', '2025', '2026', '2029', '2030', '2032', '2035', '2040', '2045', '2050']
df38 = {}

path = r'T:\socioec\Current_Projects\XPEF33\abm_csv\new_parking'
        
for x in yrs:
    file = path + '\mgra13_based_input' + x + '_05_np.csv'
    df38[x] = pd.read_csv(file)
    
    # Subset employment-related columns
    df38[x] = df38[x].iloc[:, df38[x].columns.str.startswith('emp_') | df38[x].columns.str.startswith('mgra')]
    
    # Add a year column to distinguish records when dataframes are combined
    df38[x]['yr'] = x

df38['2016']

Wall time: 1min 24s

,mgra,emp_ag,emp_const_non_bldg_prod,emp_const_non_bldg_office,emp_utilities_prod,emp_utilities_office,emp_const_bldg_prod,emp_const_bldg_office,emp_mfg_prod,emp_mfg_office,...,emp_fed_mil,emp_state_local_gov_blue,emp_state_local_gov_white,emp_public_ed,emp_own_occ_dwell_mgmt,emp_fed_gov_accts,emp_st_lcl_gov_accts,emp_cap_accts,emp_total,yr
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,10,2016
1,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,2016
2,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,5,2016
3,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,2016
4,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2016
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22997,22998,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,22,2016
22998,22999,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,116,2016
22999,23000,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,2,2016
23000,23001,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,7,2016
23001,23002,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2016

In [6]:
# Concatenate all individual year dfs into a single df
df38_all = pd.concat(df38.values(), ignore_index=True)
df38_all

,mgra,emp_ag,emp_const_non_bldg_prod,emp_const_non_bldg_office,emp_utilities_prod,emp_utilities_office,emp_const_bldg_prod,emp_const_bldg_office,emp_mfg_prod,emp_mfg_office,...,emp_fed_mil,emp_state_local_gov_blue,emp_state_local_gov_white,emp_public_ed,emp_own_occ_dwell_mgmt,emp_fed_gov_accts,emp_st_lcl_gov_accts,emp_cap_accts,emp_total,yr
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,10,2016
1,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,2016
2,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,5,2016
3,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,2016
4,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2016
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
299021,22998,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,22,2050
299022,22999,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,147,2050
299023,23000,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,2,2050
299024,23001,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,7,2050
299025,23002,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2050

# Aggregated MGRAs (i.e. region, jurisdiction, cpa)

## SQL mgra dim table

In [7]:
# Connect to DDAMWSQL16 to access MGRA dimensions table
conn = pyodbc.connect('Driver={ODBC Driver 17 for SQL Server};'
                      'Server=DDAMWSQL16.sandag.org;'
                      'Database=socioec_data;'
                      'Trusted_Connection=yes;')

mgra = ['region','jurisdiction','cpa']
dim_mgra = {}

for x in mgra:
    qry = "SELECT DISTINCT \
        mgra, geotype, geozone \
        FROM demographic_warehouse.dim.mgra \
        WHERE series = 14 AND geotype = '" + x + "' \
        ORDER BY mgra"
    
    dim_mgra[x] = pd.read_sql_query(qry, conn)

dim_mgra['cpa']

        mgra geotype         geozone
0          1     cpa  Mission Valley
1          1     cpa          Uptown
2          2     cpa  Mission Valley
3          2     cpa          Uptown
4          3     cpa  Mission Valley
...      ...     ...             ...
26951  22998     cpa  *Not in a CPA*
26952  22999     cpa  *Not in a CPA*
26953  23000     cpa  *Not in a CPA*
26954  23001     cpa  *Not in a CPA*
26955  23002     cpa  *Not in a CPA*

[26956 rows x 3 columns]

## Summarize by mgra

In [8]:
# Join df with mgra information
df42_mgra = {}
df38_mgra = {}

for x in mgra:
    df42_mgra[x] = pd.merge(df42_all, dim_mgra[x], on='mgra', how='left')
    df38_mgra[x] = pd.merge(df38_all, dim_mgra[x], on='mgra', how='left')

df42_mgra['jurisdiction']

,mgra,emp_ag,emp_const_non_bldg_prod,emp_const_non_bldg_office,emp_utilities_prod,emp_utilities_office,emp_const_bldg_prod,emp_const_bldg_office,emp_mfg_prod,emp_mfg_office,...,emp_state_local_gov_white,emp_public_ed,emp_own_occ_dwell_mgmt,emp_fed_gov_accts,emp_st_lcl_gov_accts,emp_cap_accts,emp_total,yr,geotype,geozone
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,10,2016,jurisdiction,San Diego
1,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,2016,jurisdiction,San Diego
2,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,5,2016,jurisdiction,San Diego
3,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,2016,jurisdiction,San Diego
4,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,2016,jurisdiction,San Diego
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
330299,22998,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,22,2050,jurisdiction,Carlsbad
330300,22999,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,147,2050,jurisdiction,Carlsbad
330301,23000,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,2,2050,jurisdiction,Carlsbad
330302,23001,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,7,2050,jurisdiction,Carlsbad
330303,23002,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,2050,jurisdiction,Carlsbad

In [9]:
# Group & summarize by mgra and year
df42_grp = {}
df38_grp = {}

for x in mgra:
    df42_grp[x] = df42_mgra[x].groupby(['geozone','yr']).sum()
    df42_grp[x] = df42_grp[x].iloc[:, df42_grp[x].columns.str.startswith('emp_')]
    # df42_grp[x].loc['col total'] = df42_grp[x].sum(axis=0)
    # df42_grp[x].loc[:,'row total'] = df42_grp[x].sum(axis=1) - df42_grp[x]['emp_total']
    
    df38_grp[x] = df38_mgra[x].groupby(['geozone','yr']).sum()
    df38_grp[x] = df38_grp[x].iloc[:, df38_grp[x].columns.str.startswith('emp_')]
    # df38_grp[x].loc['col total'] = df38_grp[x].sum(axis=0)
    # df38_grp[x].loc[:,'row total'] = df38_grp[x].sum(axis=1) - df38_grp[x]['emp_total']

df42_grp['region']

                emp_ag  emp_const_non_bldg_prod  emp_const_non_bldg_office  \
geozone   yr
San Diego 2016    9300                     8172                       2854
          2018    9616                     6317                       2120
          2020    9617                     6335                       2123
          2023    9806                     6198                       2088
          2025    9907                     6101                       2062
          2026    9981                     6118                       2063
          2029   10306                     6270                       2121
          2030   10380                     6287                       2122
          2032   10555                     6332                       2118
          2035   10851                     6472                       2140
          2040   11254                     6556                       2197
          2045   11601                     6733                       2231
          2050   11852                     6925                       2298

                emp_utilities_prod  emp_utilities_office  emp_const_bldg_prod  \
geozone   yr
San Diego 2016                2731                  4477                53987
          2018                2758                  4694                58163
          2020                2760                  4694                58253
          2023                2794                  4812                59826
          2025                2803                  4875                60690
          2026                2835                  4899                61267
          2029                2980                  5009                63278
          2030                3012                  5033                63855
          2032                3032                  5144                65095
          2035                3082                  5328                67076
          2040                3094                  5626                70263
          2045                3201                  5788                72906
          2050                3288                  5897                74709

                emp_const_bldg_office  emp_mfg_prod  emp_mfg_office  \
geozone   yr
San Diego 2016                  18485         48706           60528
          2018                  19876         50313           62548
          2020                  19917         50309           62552
          2023                  20507         51209           63646
          2025                  20755         51738           64308
          2026                  20938         52174           64870
          2029                  21829         53646           66715
          2030                  22012         54082           67277
          2032                  22434         54975           68387
          2035                  23264         56440           70178
          2040                  24020         58446           72615
          2045                  24777         60105           74743
          2050                  25462         61255           76248

                emp_whsle_whs  ...  emp_fed_non_mil  emp_fed_mil  \
geozone   yr                   ...
San Diego 2016          46625  ...            11454       126948
          2018          48228  ...            11841       127708
          2020          48252  ...            11841       131042
          2023          49195  ...            12059       135458
          2025          49758  ...            12195       138402
          2026          50224  ...            12310       138628
          2029          51722  ...            12656       139310
          2030          52188  ...            12771       139536
          2032          53132  ...            12998       139986
          2035          54607  ...            13346       140662
          2040          56688  ...            13833       141622
          2045          58497  ...            14256       142449
          2050          59822  ...            14557       143043

                emp_state_local_gov_blue  emp_state_local_gov_white  \
geozone   yr
San Diego 2016                      9327                      16323
          2018                      9643                      16903
          2020                      9643                      16901
          2023                      9814                      17208
          2025                      9916                      17405
          2026                     10002                      17569
          2029                     10290                      18065
          2030                     10376                      18229
          2032                     10566                      18538
          2035                     10869                      19008
          2040                     11224                      19717
          2045                     11553                      20312
          2050                     11773                      20725

                emp_public_ed  emp_own_occ_dwell_mgmt  emp_fed_gov_accts  \
geozone   yr
San Diego 2016              0                       0                  0
          2018              0                       0                  0
          2020              0                       0                  0
          2023              0                       0                  0
          2025              0                       0                  0
          2026              0                       0                  0
          2029              0                       0                  0
          2030              0                       0                  0
          2032              0                       0                  0
          2035              0                       0                  0
          2040              0                       0                  0
          2045              0                       0                  0
          2050              0                       0                  0

                emp_st_lcl_gov_accts  emp_cap_accts  emp_total
geozone   yr
San Diego 2016                     0              0    1646419
          2018                     0              0    1699486
          2020                     0              0    1704603
          2023                     0              0    1739735
          2025                     0              0    1762704
          2026                     0              0    1778550
          2029                     0              0    1827280
          2030                     0              0    1843126
          2032                     0              0    1874562
          2035                     0              0    1922407
          2040                     0              0    1988422
          2045                     0              0    2045556
          2050                     0              0    2087223

[13 rows x 35 columns]

## Compare 42 with 38

In [10]:
df_comp = {}

for x in mgra:
    df_comp[x] = df42_grp[x].subtract(df38_grp[x])
    # df_comp[x].loc[:,'row-emp total diff'] = df_comp[x]['row total'] - df_comp[x]['emp_total']


df_comp['region']

                emp_ag  emp_const_non_bldg_prod  emp_const_non_bldg_office  \
geozone   yr
San Diego 2016       0                        9                          1
          2018       0                      -31                         -3
          2020       0                      -23                         -2
          2023       0                       -7                        -14
          2025       0                      -14                        -12
          2026       0                       -8                        -13
          2029       0                      -21                        -13
          2030       0                      -15                        -14
          2032      -2                      -14                        -12
          2035       0                      -12                         -7
          2040       0                      -22                         -3
          2045       0                       -7                        -13
          2050       0                      -15                        -10

                emp_utilities_prod  emp_utilities_office  emp_const_bldg_prod  \
geozone   yr
San Diego 2016                   2                    -2                  -11
          2018                  -1                     1                   61
          2020                   3                    -3                   49
          2023                   2                    -2                   71
          2025                   1                    -1                   55
          2026                   0                     2                   55
          2029                   1                    -3                   21
          2030                   0                     0                   21
          2032                   1                     0                   46
          2035                  -2                     2                   47
          2040                   0                     0                   31
          2045                   2                    -2                   46
          2050                  -1                     1                   71

                emp_const_bldg_office  emp_mfg_prod  emp_mfg_office  \
geozone   yr
San Diego 2016                      1            10             -10
          2018                    -27           -12              12
          2020                    -24             2              -2
          2023                    -22            17              -3
          2025                    -29             6              -6
          2026                    -20             5               3
          2029                     -1            -7              -1
          2030                      8            -8               8
          2032                      9           -15             -19
          2035                    -28           -17              17
          2040                     -6           -13              13
          2045                    -26           -15              15
          2050                    -46           -14              14

                emp_whsle_whs  ...  emp_fed_non_mil  emp_fed_mil  \
geozone   yr                   ...
San Diego 2016              0  ...                0            0
          2018              0  ...                0            0
          2020              0  ...                0            0
          2023             13  ...                3           -1
          2025              0  ...                0            0
          2026              3  ...                1            0
          2029             -3  ...               -1            0
          2030              0  ...                0            0
          2032              1  ...               -3           -1
          2035              0  ...                0            0
          2040              0  ...                0            0
          2045              0  ...                0            0
          2050              0  ...                0            0

                emp_state_local_gov_blue  emp_state_local_gov_white  \
geozone   yr
San Diego 2016                       -10                         -9
          2018                        -2                          4
          2020                         0                          1
          2023                        -5                         -6
          2025                        -1                          1
          2026                        -3                          4
          2029                         2                          5
          2030                         0                          8
          2032                         2                          7
          2035                         2                          0
          2040                        -5                          3
          2045                        -5                         -3
          2050                        -1                         -4

                emp_public_ed  emp_own_occ_dwell_mgmt  emp_fed_gov_accts  \
geozone   yr
San Diego 2016              0                       0                  0
          2018              0                       0                  0
          2020              0                       0                  0
          2023              0                       0                  0
          2025              0                       0                  0
          2026              0                       0                  0
          2029              0                       0                  0
          2030              0                       0                  0
          2032              0                       0                  0
          2035              0                       0                  0
          2040              0                       0                  0
          2045              0                       0                  0
          2050              0                       0                  0

                emp_st_lcl_gov_accts  emp_cap_accts  emp_total
geozone   yr
San Diego 2016                     0              0          0
          2018                     0              0       -216
          2020                     0              0       -303
          2023                     0              0       -172
          2025                     0              0        -43
          2026                     0              0        -84
          2029                     0              0        -83
          2030                     0              0       -124
          2032                     0              0       -145
          2035                     0              0        -68
          2040                     0              0        -51
          2045                     0              0        -69
          2050                     0              0        -95

[13 rows x 35 columns]

# Individual MGRAs

In [11]:
df42['2016']

,mgra,emp_ag,emp_const_non_bldg_prod,emp_const_non_bldg_office,emp_utilities_prod,emp_utilities_office,emp_const_bldg_prod,emp_const_bldg_office,emp_mfg_prod,emp_mfg_office,...,emp_fed_mil,emp_state_local_gov_blue,emp_state_local_gov_white,emp_public_ed,emp_own_occ_dwell_mgmt,emp_fed_gov_accts,emp_st_lcl_gov_accts,emp_cap_accts,emp_total,yr
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,10,2016
1,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,2016
2,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,5,2016
3,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,2016
4,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2016
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22997,22998,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,22,2016
22998,22999,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,116,2016
22999,23000,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,2,2016
23000,23001,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,7,2016
23001,23002,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2016

In [12]:
df_comp_mgra = {}

for x in yrs:
    df_comp_mgra[x] = df42[x].select_dtypes(include=['int64']).subtract(df38[x].select_dtypes(include=['int64']))

df_comp_mgra['2016']

,mgra,emp_ag,emp_const_non_bldg_prod,emp_const_non_bldg_office,emp_utilities_prod,emp_utilities_office,emp_const_bldg_prod,emp_const_bldg_office,emp_mfg_prod,emp_mfg_office,...,emp_fed_non_mil,emp_fed_mil,emp_state_local_gov_blue,emp_state_local_gov_white,emp_public_ed,emp_own_occ_dwell_mgmt,emp_fed_gov_accts,emp_st_lcl_gov_accts,emp_cap_accts,emp_total
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22997,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
22998,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
22999,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
23000,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
23001,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [16]:
df_comp_mgra_all = df42_all.select_dtypes(include=['int64']).subtract(df38_all.select_dtypes(include=['int64']))
df_comp_mgra_all

,mgra,emp_ag,emp_const_non_bldg_prod,emp_const_non_bldg_office,emp_utilities_prod,emp_utilities_office,emp_const_bldg_prod,emp_const_bldg_office,emp_mfg_prod,emp_mfg_office,...,emp_fed_non_mil,emp_fed_mil,emp_state_local_gov_blue,emp_state_local_gov_white,emp_public_ed,emp_own_occ_dwell_mgmt,emp_fed_gov_accts,emp_st_lcl_gov_accts,emp_cap_accts,emp_total
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
299021,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
299022,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
299023,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
299024,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
299025,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

# Export to Excel

### Export MGRA level data (all DS files combined)

In [18]:
%%time

# Export DS42/38 MGRA-level data 
# LAST RUN TIME = 33 minutes

writer = pd.ExcelWriter('DS42_38_Employment_MGRA.xlsx')

print('Working on DS42...')
df42_all.to_excel(writer,'DS42_all')
print('Working on DS38...')
df38_all.to_excel(writer,'DS38_all')
print('Working on diff...')
df_comp_mgra_all.to_excel(writer, 'diff')

writer.save()
writer.close()

Working on DS42...
Working on DS38...
Working on diff...
Wall time: 32min 36s

### Export DS+MGRA
Maybe don't run this one, dummy
This one was even worse - last run: 54 min

This was an attempt to export the merged dataframes containing both the DS data and the MGRA geozone before the data is grouped to be worked on in Excel.

In [ ]:
# %%time
# writer = pd.ExcelWriter('DS41_35_mgra.xlsx')

# for x in mgra:
#     df42_mgra[x].to_excel(writer, sheet_name='41_'+x)
#     #df38_mgra[x].to_excel(writer, sheet_name='35_'+x)

# writer.save()
# writer.close()

### Export Grouped MGRAs + Difference Comparisons

The output is a single workbook containing separate sheets for each DS and each geozone grouping.

Region
- DS42_region
- DS38_region
- diff_region

Jurisdiction
- DS42_jurisdiction
- DS38_jurisdiction
- diff_jurisdiction

CPA
- DS42_cpa
- DS38_cpa
- diff_jurisdiction

In [13]:
%%time
writer = pd.ExcelWriter('DS42_38_Employment_grp.xlsx')

for x in mgra:
    df42_grp[x].to_excel(writer, sheet_name='42_'+x)
    df38_grp[x].to_excel(writer, sheet_name='38_'+x)
    df_comp[x].to_excel(writer, sheet_name='diff_'+x)

writer.save()
writer.close()

Wall time: 7.68 s