# Comparing Old and New DS 35 (MGRA Level)

In [18]:
# Import Libraries
import pandas as pd
import numpy as np
import yaml
import matplotlib.pyplot as plt
import seaborn as sns
#Libraries 
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os
import seaborn as sns
from matplotlib.pyplot import figure
import pyodbc 
import glob

In [19]:
columns_to_check = ['hs', 'hs_sf', 'hs_mf', 'hs_mh', 'hh', 'hh_sf', 'hh_mf', 'hh_mh', 'gq_civ', 'gq_mil', 'hhs', 'pop', 'hhp']

In [20]:
#Note the new files will not have this already appended
ds_35_columns = [x +'_ds35' for x in columns_to_check]
ds_38_columns = [x +'_ds38' for x in columns_to_check]
ds_41_columns = [x +'_ds41' for x in columns_to_check]
ds_42_columns = [x +'_ds42' for x in columns_to_check]

# Downloading the data

In [21]:
# DS 35 Old
ds35_old = pd.read_csv("C:/Users/cra/OneDrive - San Diego Association of Governments/Working_Drive/run_checks/mgra_ind_DS35_old.csv", usecols=['mgra_ds41', 'year_ds41'] + ds_35_columns, index_col=['mgra_ds41', 'year_ds41'])
ds35_old.index.names = ['mgra', 'year']
ds35_old

,,hs_ds35,hs_sf_ds35,hs_mf_ds35,hs_mh_ds35,hh_ds35,hh_sf_ds35,hh_mf_ds35,hh_mh_ds35,gq_civ_ds35,gq_mil_ds35,hhs_ds35,pop_ds35,hhp_ds35
mgra,year,,,,,,,,,,,,,
1,2016,19,19,0,0,18,18,0,0,0,0,2.278,41,41
2,2016,35,35,0,0,34,34,0,0,0,0,2.382,81,81
3,2016,52,52,0,0,52,52,0,0,0,0,2.135,111,111
4,2016,30,30,0,0,30,30,0,0,0,0,2.433,73,73
5,2016,28,28,0,0,28,28,0,0,0,0,2.250,63,63
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22998,2050,92,92,0,0,87,87,0,0,0,0,2.437,212,212
22999,2050,0,0,0,0,0,0,0,0,0,0,0.000,0,0
23000,2050,131,131,0,0,126,126,0,0,0,0,2.429,306,306
23001,2050,85,85,0,0,82,82,0,0,0,0,2.500,205,205
23002,2050,120,20,100,0,109,17,92,0,0,0,2.248,245,245

In [27]:
# DS 35 New
ds35_new = pd.read_csv("C:/Users/cra/OneDrive - San Diego Association of Governments/Working_Drive/run_checks/mgra_ind_DS35_new.csv", usecols=['mgra', 'year'] + columns_to_check, index_col=['mgra', 'year'])
ds35_new = ds35_new.add_suffix('_ds35')
ds35_new

,,hs_ds35,hs_sf_ds35,hs_mf_ds35,hs_mh_ds35,hh_ds35,hh_sf_ds35,hh_mf_ds35,hh_mh_ds35,gq_civ_ds35,gq_mil_ds35,hhs_ds35,pop_ds35,hhp_ds35
mgra,year,,,,,,,,,,,,,
1,2016,19,19,0,0,18,18,0,0,0,0,2.278,41,41
2,2016,35,35,0,0,34,34,0,0,0,0,2.382,81,81
3,2016,52,52,0,0,52,52,0,0,0,0,2.135,111,111
4,2016,30,30,0,0,30,30,0,0,0,0,2.433,73,73
5,2016,28,28,0,0,28,28,0,0,0,0,2.250,63,63
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22998,2050,92,92,0,0,87,87,0,0,0,0,2.437,212,212
22999,2050,0,0,0,0,0,0,0,0,0,0,0.000,0,0
23000,2050,131,131,0,0,126,126,0,0,0,0,2.429,306,306
23001,2050,85,85,0,0,82,82,0,0,0,0,2.500,205,205
23002,2050,120,20,100,0,109,17,92,0,0,0,2.248,245,245

In [22]:
# DS 41 Old
ds41_old = pd.read_csv("C:/Users/cra/OneDrive - San Diego Association of Governments/Working_Drive/run_checks/mgra_ind_DS41_old.csv", usecols=['mgra_ds41', 'year_ds41'] + ds_41_columns, index_col=['mgra_ds41', 'year_ds41'])
ds41_old.index.names = ['mgra', 'year']
ds41_old

,,hs_ds41,hs_sf_ds41,hs_mf_ds41,hs_mh_ds41,hh_ds41,hh_sf_ds41,hh_mf_ds41,hh_mh_ds41,gq_civ_ds41,gq_mil_ds41,hhs_ds41,pop_ds41,hhp_ds41
mgra,year,,,,,,,,,,,,,
1,2016,19,19,0,0,18,18,0,0,0,0,2.278,41,41
2,2016,35,35,0,0,34,34,0,0,0,0,2.382,81,81
3,2016,52,52,0,0,52,52,0,0,0,0,2.135,111,111
4,2016,30,30,0,0,30,30,0,0,0,0,2.433,73,73
5,2016,28,28,0,0,28,28,0,0,0,0,2.250,63,63
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22998,2050,92,92,0,0,87,87,0,0,0,0,2.506,218,218
22999,2050,0,0,0,0,0,0,0,0,0,0,0.000,0,0
23000,2050,131,131,0,0,126,126,0,0,0,0,2.476,312,312
23001,2050,85,85,0,0,81,81,0,0,0,0,2.407,195,195
23002,2050,120,20,100,0,110,20,90,0,0,0,2.436,268,268

In [28]:
# DS 41 New
ds41_new = pd.read_csv("C:/Users/cra/OneDrive - San Diego Association of Governments/Working_Drive/run_checks/mgra_ind_DS41_new.csv", usecols=['mgra', 'year'] + columns_to_check, index_col=['mgra', 'year'])
ds41_new = ds41_new.add_suffix('_ds41')
ds41_new

,,hs_ds41,hs_sf_ds41,hs_mf_ds41,hs_mh_ds41,hh_ds41,hh_sf_ds41,hh_mf_ds41,hh_mh_ds41,gq_civ_ds41,gq_mil_ds41,hhs_ds41,pop_ds41,hhp_ds41
mgra,year,,,,,,,,,,,,,
1,2016,19,19,0,0,18,18,0,0,0,0,2.278,41,41
2,2016,35,35,0,0,34,34,0,0,0,0,2.382,81,81
3,2016,52,52,0,0,52,52,0,0,0,0,2.135,111,111
4,2016,30,30,0,0,30,30,0,0,0,0,2.433,73,73
5,2016,28,28,0,0,28,28,0,0,0,0,2.250,63,63
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22998,2050,92,92,0,0,87,87,0,0,0,0,2.506,218,218
22999,2050,0,0,0,0,0,0,0,0,0,0,0.000,0,0
23000,2050,131,131,0,0,126,126,0,0,0,0,2.476,312,312
23001,2050,85,85,0,0,81,81,0,0,0,0,2.407,195,195
23002,2050,120,20,100,0,110,20,90,0,0,0,2.436,268,268

In [23]:
# DS 38 Old
ds38_old = pd.read_csv("C:/Users/cra/OneDrive - San Diego Association of Governments/Working_Drive/run_checks/mgra_ind_DS38_old.csv", usecols=['mgra_ds42', 'year_ds42'] + ds_38_columns, index_col=['mgra_ds42', 'year_ds42'])
ds38_old.index.names = ['mgra', 'year']
ds38_old

,,hs_ds38,hs_sf_ds38,hs_mf_ds38,hs_mh_ds38,hh_ds38,hh_sf_ds38,hh_mf_ds38,hh_mh_ds38,gq_civ_ds38,gq_mil_ds38,hhs_ds38,pop_ds38,hhp_ds38
mgra,year,,,,,,,,,,,,,
1,2016,19,19,0,0,18,18,0,0,0,0,2.278,41,41
2,2016,35,35,0,0,34,34,0,0,0,0,2.382,81,81
3,2016,52,52,0,0,52,52,0,0,0,0,2.135,111,111
4,2016,30,30,0,0,30,30,0,0,0,0,2.433,73,73
5,2016,28,28,0,0,28,28,0,0,0,0,2.250,63,63
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22998,2050,90,90,0,0,87,87,0,0,0,0,2.414,210,210
22999,2050,0,0,0,0,0,0,0,0,0,0,0.000,0,0
23000,2050,131,131,0,0,126,126,0,0,0,0,2.452,309,309
23001,2050,83,83,0,0,81,81,0,0,0,0,2.778,225,225
23002,2050,0,0,0,0,0,0,0,0,0,0,0.000,0,0

In [29]:
# DS 38 New
ds38_new = pd.read_csv("C:/Users/cra/OneDrive - San Diego Association of Governments/Working_Drive/run_checks/mgra_ind_DS38_new.csv", usecols=['mgra', 'year'] + columns_to_check, index_col=['mgra', 'year'])
ds38_new = ds38_new.add_suffix('_ds38')
ds38_new

,,hs_ds38,hs_sf_ds38,hs_mf_ds38,hs_mh_ds38,hh_ds38,hh_sf_ds38,hh_mf_ds38,hh_mh_ds38,gq_civ_ds38,gq_mil_ds38,hhs_ds38,pop_ds38,hhp_ds38
mgra,year,,,,,,,,,,,,,
1,2016,19,19,0,0,18,18,0,0,0,0,2.278,41,41
2,2016,35,35,0,0,34,34,0,0,0,0,2.382,81,81
3,2016,52,52,0,0,52,52,0,0,0,0,2.135,111,111
4,2016,30,30,0,0,30,30,0,0,0,0,2.433,73,73
5,2016,28,28,0,0,28,28,0,0,0,0,2.250,63,63
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22998,2050,90,90,0,0,87,87,0,0,0,0,2.414,210,210
22999,2050,0,0,0,0,0,0,0,0,0,0,0.000,0,0
23000,2050,131,131,0,0,126,126,0,0,0,0,2.452,309,309
23001,2050,83,83,0,0,81,81,0,0,0,0,2.778,225,225
23002,2050,0,0,0,0,0,0,0,0,0,0,0.000,0,0

In [24]:
# DS 42 Old
ds42_old = pd.read_csv("C:/Users/cra/OneDrive - San Diego Association of Governments/Working_Drive/run_checks/mgra_ind_DS42_old.csv", usecols=['mgra_ds42', 'year_ds42'] + ds_42_columns, index_col=['mgra_ds42', 'year_ds42'])
ds42_old.index.names = ['mgra', 'year']
ds42_old

,,hs_ds42,hs_sf_ds42,hs_mf_ds42,hs_mh_ds42,hh_ds42,hh_sf_ds42,hh_mf_ds42,hh_mh_ds42,gq_civ_ds42,gq_mil_ds42,hhs_ds42,pop_ds42,hhp_ds42
mgra,year,,,,,,,,,,,,,
1,2016,19,19,0,0,18,18,0,0,0,0,2.278,41,41
2,2016,35,35,0,0,34,34,0,0,0,0,2.382,81,81
3,2016,52,52,0,0,52,52,0,0,0,0,2.135,111,111
4,2016,30,30,0,0,30,30,0,0,0,0,2.433,73,73
5,2016,28,28,0,0,28,28,0,0,0,0,2.250,63,63
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22998,2050,90,90,0,0,87,87,0,0,0,0,2.540,221,221
22999,2050,0,0,0,0,0,0,0,0,0,0,0.000,0,0
23000,2050,131,131,0,0,126,126,0,0,0,0,2.238,282,282
23001,2050,83,83,0,0,81,81,0,0,0,0,2.383,193,193
23002,2050,0,0,0,0,0,0,0,0,0,0,0.000,0,0

In [30]:
# DS 42 New
ds42_new = pd.read_csv("C:/Users/cra/OneDrive - San Diego Association of Governments/Working_Drive/run_checks/mgra_ind_DS42_new.csv", usecols=['mgra', 'year'] + columns_to_check, index_col=['mgra', 'year'])
ds42_new = ds42_new.add_suffix('_ds42')
ds42_new

,,hs_ds42,hs_sf_ds42,hs_mf_ds42,hs_mh_ds42,hh_ds42,hh_sf_ds42,hh_mf_ds42,hh_mh_ds42,gq_civ_ds42,gq_mil_ds42,hhs_ds42,pop_ds42,hhp_ds42
mgra,year,,,,,,,,,,,,,
1,2016,19,19,0,0,18,18,0,0,0,0,2.278,41,41
2,2016,35,35,0,0,34,34,0,0,0,0,2.382,81,81
3,2016,52,52,0,0,52,52,0,0,0,0,2.135,111,111
4,2016,30,30,0,0,30,30,0,0,0,0,2.433,73,73
5,2016,28,28,0,0,28,28,0,0,0,0,2.250,63,63
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22998,2050,90,90,0,0,87,87,0,0,0,0,2.540,221,221
22999,2050,0,0,0,0,0,0,0,0,0,0,0.000,0,0
23000,2050,131,131,0,0,126,126,0,0,0,0,2.238,282,282
23001,2050,83,83,0,0,81,81,0,0,0,0,2.383,193,193
23002,2050,0,0,0,0,0,0,0,0,0,0,0.000,0,0

# Comparison Function

In [35]:
def find_difference(old_df_1, new_df_2, DSVAL):
    columns_to_check = ['hs', 'hs_sf', 'hs_mf', 'hs_mh', 'hh', 'hh_sf', 'hh_mf', 'hh_mh', 'gq_civ', 'gq_mil', 'hhs', 'pop', 'hhp']
    df = pd.DataFrame(columns=columns_to_check, index=old_df_1.index)
    for base in columns_to_check:
        new_column = new_df_2[base+'_'+DSVAL] - old_df_1[base+'_'+DSVAL]
        df[base] = new_column
    return df

In [38]:
# Diffs
ds35_diffs = find_difference(ds35_old, ds35_new, 'ds35')
ds38_diffs = find_difference(ds38_old, ds38_new, 'ds38')
ds41_diffs = find_difference(ds41_old, ds41_new, 'ds41')
ds42_diffs = find_difference(ds42_old, ds42_new, 'ds42')

In [43]:
ds35_diffs.sum()

hs        0.0
hs_sf     0.0
hs_mf     0.0
hs_mh     0.0
hh        0.0
hh_sf     0.0
hh_mf     0.0
hh_mh     0.0
gq_civ    0.0
gq_mil    0.0
hhs       0.0
pop       0.0
hhp       0.0
dtype: float64

In [42]:
ds38_diffs.sum()

hs        0.0
hs_sf     0.0
hs_mf     0.0
hs_mh     0.0
hh        0.0
hh_sf     0.0
hh_mf     0.0
hh_mh     0.0
gq_civ    0.0
gq_mil    0.0
hhs       0.0
pop       0.0
hhp       0.0
dtype: float64

In [41]:
ds41_diffs.sum()

hs        0.0
hs_sf     0.0
hs_mf     0.0
hs_mh     0.0
hh        0.0
hh_sf     0.0
hh_mf     0.0
hh_mh     0.0
gq_civ    0.0
gq_mil    0.0
hhs       0.0
pop       0.0
hhp       0.0
dtype: float64

In [40]:
ds42_diffs.sum()

hs        0.0
hs_sf     0.0
hs_mf     0.0
hs_mh     0.0
hh        0.0
hh_sf     0.0
hh_mf     0.0
hh_mh     0.0
gq_civ    0.0
gq_mil    0.0
hhs       0.0
pop       0.0
hhp       0.0
dtype: float64