# Debugging Script 
This is a manual script of the functions for debugging purposes

In [1]:
# Import Libraries
import pandas as pd
import numpy as np
import yaml
import matplotlib.pyplot as plt
import seaborn as sns
#Libraries 
import os
import pyodbc
import glob
import copy
import PySimpleGUI as sg
import traceback

# Bring in Part 1 Code

In [2]:
!pip -q install -r ./config_files/requirements.txt
import pandas as pd
pd.options.mode.chained_assignment = None

In [5]:
# Bring in functions
%run ./scripts/Part_1.ipynb

 # Individual Files

In [ ]:
# inputs 
ds_ID = 'DS42'

comparison_processed_data vs comparison_no_geozone_df:
- comparison_processed_data has columns appending the DSID and has the geozone at the end (jurisdiction level)
- features are all of teh columns

In [9]:
# mgra_ind
comparison_processed_data, comparison_no_geozone_df, features = download_DS_data('DS42', jur_level)

DS42's jurisdiction did not merge correctly.

In [16]:
features

Index(['taz', 'hs', 'hs_sf', 'hs_mf', 'hs_mh', 'hh', 'hh_sf', 'hh_mf', 'hh_mh',
       'gq_civ',
       ...
       'American Indian', 'Asian', 'Black', 'Hispanic', 'Other',
       'Pacific Islander', 'Two or More', 'White', 'Female', 'Male'],
      dtype='object', length=146)

In [14]:
comparison_processed_data.head()

,mgra_DS42,taz_DS42,hs_DS42,hs_sf_DS42,hs_mf_DS42,hs_mh_DS42,hh_DS42,hh_sf_DS42,hh_mf_DS42,hh_mh_DS42,...,Asian_DS42,Black_DS42,Hispanic_DS42,Other_DS42,Pacific Islander_DS42,Two or More_DS42,White_DS42,Female_DS42,Male_DS42,geozone_DS42
0,1,3331,19,19,0,0,18,18,0,0,...,1.0,0.0,1.0,1.0,0.0,2.0,36.0,23.0,18.0,San Diego
1,2,3331,35,35,0,0,34,34,0,0,...,5.0,0.0,11.0,0.0,0.0,2.0,63.0,41.0,40.0,San Diego
2,3,3358,52,52,0,0,52,52,0,0,...,5.0,0.0,11.0,0.0,0.0,0.0,95.0,57.0,54.0,San Diego
3,4,3358,30,30,0,0,30,30,0,0,...,0.0,0.0,12.0,0.0,1.0,4.0,55.0,35.0,38.0,San Diego
4,5,3358,28,28,0,0,28,28,0,0,...,2.0,1.0,8.0,0.0,0.0,1.0,50.0,29.0,34.0,San Diego

In [15]:
comparison_no_geozone_df.head()

,mgra,taz,hs,hs_sf,hs_mf,hs_mh,hh,hh_sf,hh_mf,hh_mh,...,American Indian,Asian,Black,Hispanic,Other,Pacific Islander,Two or More,White,Female,Male
0,1,3331,19,19,0,0,18,18,0,0,...,0.0,1.0,0.0,1.0,1.0,0.0,2.0,36.0,23.0,18.0
1,2,3331,35,35,0,0,34,34,0,0,...,0.0,5.0,0.0,11.0,0.0,0.0,2.0,63.0,41.0,40.0
2,3,3358,52,52,0,0,52,52,0,0,...,0.0,5.0,0.0,11.0,0.0,0.0,0.0,95.0,57.0,54.0
3,4,3358,30,30,0,0,30,30,0,0,...,1.0,0.0,0.0,12.0,0.0,1.0,4.0,55.0,35.0,38.0
4,5,3358,28,28,0,0,28,28,0,0,...,1.0,2.0,1.0,8.0,0.0,0.0,1.0,50.0,29.0,34.0

In [ ]:
# CPA Level Aggregation
comparison_processed_data_cpa = cpa_aggregation_ind(first_ID_df, cpa_level)

In [ ]:
comparison_processed_data_jur = jur_aggregation_ind(first_ID_df, jur_level)