In [1]:
# Import Libraries
import pandas as pd
import numpy as np
import yaml
import matplotlib.pyplot as plt
import seaborn as sns
#Libraries 
import os
import pyodbc
import glob
import copy
import PySimpleGUI as sg
import traceback

In [5]:
import os
os.getcwd()

'c:\\Users\\cra\\OneDrive - San Diego Association of Governments\\QA_Repository\\Internal_Projects\\2022-40 Estimates QC Automation\\isam_table_aggregate'

In [8]:
import pyodbc
import pandas as pd

# Connection
conn = pyodbc.connect('Driver={ODBC Driver 17 for SQL Server};'
                      'Server=DDAMWSQL16.sandag.org;'
                      'Database=demographic_warehouse;'
                      'Trusted_Connection=yes;')

# Open my SQL script
with open('ethnicity_table.sql', 'r') as sql_file:
    sql_query = sql_file.read()

# Run Script
df = pd.read_sql(sql_query, conn)

# close the connection
conn.close()

df

        mgra_id  yr_id  population       geotype    geozone        ethnicity
0    1400000101   2016           1           cpa     Uptown         Hispanic
1    1400000101   2016           1  jurisdiction  San Diego         Hispanic
2    1400000101   2016          36           cpa     Uptown            White
3    1400000101   2016          36  jurisdiction  San Diego            White
4    1400000101   2016           0           cpa     Uptown            Black
..          ...    ...         ...           ...        ...              ...
995  1400005001   2016          55  jurisdiction  San Diego            White
996  1400005001   2016           1           cpa     Uptown            Black
997  1400005001   2016           1  jurisdiction  San Diego            Black
998  1400005001   2016           0           cpa     Uptown  American Indian
999  1400005001   2016           0  jurisdiction  San Diego  American Indian

[1000 rows x 6 columns]

In [2]:
conn = pyodbc.connect('Driver={ODBC Driver 17 for SQL Server};'
                      'Server=DDAMWSQL16.sandag.org;'
                      'Database=demographic_warehouse;'
                      'Trusted_Connection=yes;')

In [3]:
query_all = "SELECT mgra, geotype, geozone FROM demographic_warehouse.dim.mgra WHERE series = 14 AND (geotype='cpa' OR geotype='jurisdiction')"

In [4]:
sql_query = pd.read_sql_query(query_all,conn)
sql_query

        mgra       geotype             geozone
0        312           cpa         Balboa Park
1        312  jurisdiction           San Diego
2        313           cpa  Greater North Park
3        313  jurisdiction           San Diego
4        313           cpa         Balboa Park
...      ...           ...                 ...
54627  22498  jurisdiction      Unincorporated
54628  22499           cpa       Jamul-Dulzura
54629  22499  jurisdiction      Unincorporated
54630  22500           cpa       Jamul-Dulzura
54631  22500  jurisdiction      Unincorporated

[54632 rows x 3 columns]