# Data Preperation User Notebook

In [1]:
import pandas as pd
import numpy as np
import pyodbc
from data_prep_functions import *
import warnings
warnings.filterwarnings('ignore')

# Individual File Creation

### MGRA Level

In [2]:
mgra_ind_df = mgra_output(dsid='38', to_jdrive=True)
mgra_ind_df

,mgra,year,taz,hs,hs_sf,hs_mf,hs_mh,hh,hh_sf,hh_mf,...,luz_id,truckregiontype,district27,milestocoast,acres,effective_acres,land_acres,MicroAccessTime,remoteAVParking,refueling_stations
0,1,2016,3331,19,19,0,0,18,18,0,...,95,1,27,3.7997,16.615444,12.961482,16.615444,10,0,0
1,2,2016,3331,35,35,0,0,34,34,0,...,95,1,27,3.9761,19.519185,19.519185,19.519185,10,0,0
2,3,2016,3358,52,52,0,0,52,52,0,...,95,1,27,4.1939,27.845124,26.867938,27.845124,10,0,0
3,4,2016,3358,30,30,0,0,30,30,0,...,95,1,27,4.2782,7.976178,7.976178,7.976178,10,0,0
4,5,2016,3358,28,28,0,0,28,28,0,...,95,1,27,4.0062,7.072502,7.063693,7.072502,10,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22997,22998,2050,1290,90,90,0,0,87,87,0,...,14,1,1,2.6193,41.241522,26.863578,41.241522,120,0,0
22998,22999,2050,1290,0,0,0,0,0,0,0,...,14,1,1,2.3703,35.842780,30.635095,35.842780,120,0,0
22999,23000,2050,1290,131,131,0,0,126,126,0,...,14,1,1,2.1721,28.735275,16.109816,28.735275,120,0,0
23000,23001,2050,1254,83,83,0,0,81,81,0,...,14,1,1,2.7063,41.006144,28.126056,41.006144,120,0,0
23001,23002,2050,1254,0,0,0,0,0,0,0,...,14,1,1,2.4553,50.823736,34.131049,50.823736,120,0,0

### Region Level
- Requires MGRA output to have already been created

In [3]:
region_ind = region_foldup(dsid='38', to_jdrive=True)
region_ind

                     hs   hs_sf   hs_mf  hs_mh       hh   hh_sf   hh_mf  \
region    year
San Diego 2016  1190554  717626  430716  42212  1134848  687509  407158
          2018  1205852  721197  442548  42107  1147635  690686  416960
          2020  1226462  722838  461517  42107  1166240  692867  433349
          2023  1262957  726724  494126  42107  1197072  696698  460237
          2025  1288217  728371  517739  42107  1219745  698590  480988
          2026  1300847  729354  529386  42107  1231007  699444  491395
          2029  1338737  730943  565687  42107  1264151  701165  522809
          2030  1351367  731412  577848  42107  1274948  701619  533151
          2032  1376162  732534  601521  42107  1296193  702532  553482
          2035  1409867  734934  632826  42107  1327588  704236  583173
          2040  1443635  737896  663632  42107  1348283  706490  601610
          2045  1460856  738005  680744  42107  1364815  707928  616689
          2050  1471300  738133  691060  42107  1374841  708704  625924

                hh_mh  gq_civ  gq_mil  ...  hotelroomtotal  truckregiontype  \
region    year                         ...
San Diego 2016  40181   63014   43285  ...           56646            23002
          2018  39989   69372   46797  ...           61917            23002
          2020  40024   72056   48307  ...           61917            23002
          2023  40137   73875   50572  ...           63707            23002
          2025  40167   74447   51327  ...           64889            23002
          2026  40168   74733   51327  ...           65379            23002
          2029  40177   75591   51327  ...           66938            23002
          2030  40178   75877   51327  ...           67428            23002
          2032  40179   76043   51327  ...           68233            23002
          2035  40179   76292   51327  ...           69454            23002
          2040  40183   76292   51327  ...           70971            23002
          2045  40198   76292   51327  ...           72189            23002
          2050  40213   76292   51327  ...           73319            23002

                district27  milestocoast         acres  effective_acres  \
region    year
San Diego 2016      221100   245307.3086  2.727204e+06     1.251249e+06
          2018      221100   245307.3086  2.727204e+06     1.251249e+06
          2020      221100   245307.3086  2.727204e+06     1.251249e+06
          2023      221100   245307.3086  2.727204e+06     1.251249e+06
          2025      221100   245307.3086  2.727204e+06     1.251249e+06
          2026      221100   245307.3086  2.727204e+06     1.251249e+06
          2029      221100   245307.3086  2.727204e+06     1.251249e+06
          2030      221100   245307.3086  2.727204e+06     1.251249e+06
          2032      221100   245307.3086  2.727204e+06     1.251249e+06
          2035      221100   245307.3086  2.727204e+06     1.251249e+06
          2040      221100   245307.3086  2.727204e+06     1.251249e+06
          2045      221100   245307.3086  2.727204e+06     1.251249e+06
          2050      221100   245307.3086  2.727204e+06     1.251249e+06

                  land_acres  MicroAccessTime  remoteAVParking  \
region    year
San Diego 2016  2.698589e+06          2333475                5
          2018  2.698589e+06          2333475                5
          2020  2.698589e+06          2333475                5
          2023  2.698589e+06          2049556                5
          2025  2.698589e+06          1688220                5
          2026  2.698589e+06          1688220                5
          2029  2.698589e+06          1688220                5
          2030  2.698589e+06          1688220                5
          2032  2.698589e+06          1688220                5
          2035  2.698589e+06          1688220                5
          2040  2.698589e+06          1688220                5
          2045  2.698589e+06          1688220                5
          2050  2.698589e+06          1688220                5

                refueling_stations
region    year
San Diego 2016                 699
          2018                 699
          2020                 699
          2023                 699
          2025                 699
          2026                 699
          2029                 699
          2030                 699
          2032                 699
          2035                 699
          2040                 699
          2045                 699
          2050                 699

[13 rows x 104 columns]

In [5]:
region_ind

                     hs   hs_sf   hs_mf  hs_mh       hh   hh_sf   hh_mf  \
region    year
San Diego 2016  1190554  717626  430716  42212  1134848  687509  407158
          2018  1205852  722804  440941  42107  1147635  692115  415489
          2020  1226462  726240  458115  42107  1166240  696051  430081
          2023  1262957  728452  492398  42107  1197072  698405  458524
          2025  1288217  729790  516320  42107  1219745  699761  479834
          2026  1300847  730445  528295  42107  1231007  700382  490473
          2029  1338737  732381  564249  42107  1264151  702254  521737
          2030  1351367  732915  576345  42107  1274948  702823  531964
          2032  1376162  734194  599861  42107  1296193  703889  552143
          2035  1409867  735001  632759  42107  1327588  705047  582379
          2040  1443635  735965  665563  42107  1348283  705795  602316
          2045  1460856  736597  682152  42107  1364815  706490  618147
          2050  1471300  737012  692181  42107  1374841  706970  627690

                hh_mh  gq_civ  gq_mil  ...  hotelroomtotal  truckregiontype  \
region    year                         ...
San Diego 2016  40181   63014   43285  ...           56646            23002
          2018  40031   69372   46797  ...           61917            23002
          2020  40108   72056   48307  ...           61917            23002
          2023  40143   73875   50572  ...           63707            23002
          2025  40150   74447   51327  ...           64889            23002
          2026  40152   74733   51327  ...           65379            23002
          2029  40160   75591   51327  ...           66938            23002
          2030  40161   75877   51327  ...           67428            23002
          2032  40161   76043   51327  ...           68233            23002
          2035  40162   76292   51327  ...           69454            23002
          2040  40172   76292   51327  ...           70971            23002
          2045  40178   76292   51327  ...           72189            23002
          2050  40181   76292   51327  ...           73319            23002

                district27  milestocoast         acres  effective_acres  \
region    year
San Diego 2016      221100   245307.3086  2.727204e+06     1.251249e+06
          2018      221100   245307.3086  2.727204e+06     1.251249e+06
          2020      221100   245307.3086  2.727204e+06     1.251249e+06
          2023      221100   245307.3086  2.727204e+06     1.251249e+06
          2025      221100   245307.3086  2.727204e+06     1.251249e+06
          2026      221100   245307.3086  2.727204e+06     1.251249e+06
          2029      221100   245307.3086  2.727204e+06     1.251249e+06
          2030      221100   245307.3086  2.727204e+06     1.251249e+06
          2032      221100   245307.3086  2.727204e+06     1.251249e+06
          2035      221100   245307.3086  2.727204e+06     1.251249e+06
          2040      221100   245307.3086  2.727204e+06     1.251249e+06
          2045      221100   245307.3086  2.727204e+06     1.251249e+06
          2050      221100   245307.3086  2.727204e+06     1.251249e+06

                  land_acres  MicroAccessTime  remoteAVParking  \
region    year
San Diego 2016  2.698589e+06          2333475                5
          2018  2.698589e+06          2333475                5
          2020  2.698589e+06          2333475                5
          2023  2.698589e+06          2049556                5
          2025  2.698589e+06          1688220                5
          2026  2.698589e+06          1688220                5
          2029  2.698589e+06          1688220                5
          2030  2.698589e+06          1688220                5
          2032  2.698589e+06          1688220                5
          2035  2.698589e+06          1688220                5
          2040  2.698589e+06          1688220                5
          2045  2.698589e+06          1688220                5
          2050  2.698589e+06          1688220                5

                refueling_stations
region    year
San Diego 2016                 699
          2018                 699
          2020                 699
          2023                 699
          2025                 699
          2026                 699
          2029                 699
          2030                 699
          2032                 699
          2035                 699
          2040                 699
          2045                 699
          2050                 699

[13 rows x 104 columns]

In [18]:
def compare_df_sums(df1, df2):
    # Check if the dataframes have the same number of columns
    if df1.shape[1] != df2.shape[1]:
        return False
    
    # Iterate over the columns in df1
    for col in df1.columns:
        # Check if the sum of the column in df1 is equal to the sum of the same column in df2
        if df1[col].sum() != df2[col].sum():
            return False
    
    # If all the sums are equal, return True
    return True

In [6]:
import pandas as pd

def compare_df_sums(df1, df2):
    
    print('run')
    print(df1.columns)
    # Check if the dataframes have the same number of columns
    if df1.shape[1] != df2.shape[1]:
        return []
    
    # Initialize an empty list to store the columns with unequal sums
    unequal_columns = []
    
    # Iterate over the columns in df1
    for col in df1.columns:
        print(col)
        # Check if the sum of the column in df1 is equal to the sum of the same column in df2
        if df1[col].sum() != df2[col].sum():
            # If the sums are not equal, add the column to the list
            unequal_columns.append(col)
    
    # Return the list of unequal columns
    return unequal_columns

In [10]:
def compare_df_sums(df1, df2):
    # Initialize an empty list to store the columns with unequal sums
    unequal_columns = []
    
    # Common columns 
    common_columns = common_values(df1.columns, df2.columns)

    # Iterate over the columns in df1
    for col in common_columns:
        print(col)
        # Check if the sum of the column in df1 is equal to the sum of the same column in df2
        if df1[col].sum() != df2[col].sum():
            # If the sums are not equal, add the column to the list
            unequal_columns.append(col)
    
    # Return the list of unequal columns
    return unequal_columns

In [11]:
compare_df_sums(mgra_ind_df, region_ind)

emp_utilities_prod
i3
hstallssam
empden
emp_state_local_gov_blue
enrollgrade9to12
mstallssam
hs_mh
emp_const_non_bldg_prod
gq_civ
hch_dist
midpriceroom
refueling_stations
i6
emp_personal_svcs_office
hs_sf
emp_amusement
remoteAVParking
i8
land_acres
hs
i4
emp_cap_accts
emp_public_ed
hs_mf
hh
emp_fed_non_mil
emp_prof_bus_svcs
emp_fed_mil
hotelroomtotal
openspaceparkpreserve
truckregiontype
emp_const_bldg_office
beachactive
luxuryroom
dparkcost
totintbin
emp_fed_gov_accts
empdenbin
dudenbin
district27
popden
emp_health
retempden
effective_acres
adultschenrl
pseudomsa
i7
emp_hotel
upscaleroom
emp_state_local_gov_ent
emp_whsle_whs
emp_retail
pop
emp_utilities_office
hh_mf
mstallsoth
emp_const_bldg_prod
enrollgradekto8
parkarea
emp_pvt_ed_k12
zip09
gq_mil
hstallsoth
i10
hh_mh
emp_religious
emp_personal_svcs_retail
hhp
dstallsoth
MicroAccessTime
i2
emp_mfg_prod
i5
emp_pvt_hh
parkactive
dstallssam
emp_st_lcl_gov_accts
mparkcost
i1
emp_restaurant_bar
emp_total
emp_trans
emp_state_local_gov_white
numfreehrs
acres
othercollegeenroll
ech_dist
emp_mfg_office
duden
totint
milestocoast
hparkcost
i9
emp_pvt_ed_post_k12_oth
emp_ag
hh_sf
hhs
collegeenroll
economyroom
budgetroom
emp_const_non_bldg_office
emp_prof_bus_svcs_bldg_maint
emp_own_occ_dwell_mgmt

['land_acres',
 'beachactive',
 'dparkcost',
 'effective_acres',
 'parkactive',
 'acres',
 'milestocoast',
 'hparkcost',
 'hhs']

# Both File Creation
- Last run took: 2m 3.1s

In [8]:
both_df = create_both_df(dsid_1='36', dsid_2='36R', geo_level='mgra', to_jdrive=True)
both_df

            taz_36  hs_36  hs_sf_36  hs_mf_36  hs_mh_36  hh_36  hh_sf_36  \
year mgra
2016 1        3331     19        19         0         0     18        18
     2        3331     35        35         0         0     34        34
     3        3358     52        52         0         0     52        52
     4        3358     30        30         0         0     30        30
     5        3358     28        28         0         0     28        28
...            ...    ...       ...       ...       ...    ...       ...
2050 22998    1290     90        90         0         0     87        87
     22999    1290      0         0         0         0      0         0
     23000    1290    131       131         0         0    126       126
     23001    1254     83        83         0         0     81        81
     23002    1254      0         0         0         0      0         0

            hh_mf_36  hh_mh_36  gq_civ_36  ...  luz_id_36R  \
year mgra                                  ...
2016 1             0         0          0  ...          95
     2             0         0          0  ...          95
     3             0         0          0  ...          95
     4             0         0          0  ...          95
     5             0         0          0  ...          95
...              ...       ...        ...  ...         ...
2050 22998         0         0          0  ...          14
     22999         0         0          0  ...          14
     23000         0         0          0  ...          14
     23001         0         0          0  ...          14
     23002         0         0          0  ...          14

            truckregiontype_36R  district27_36R  milestocoast_36R  acres_36R  \
year mgra
2016 1                        1              27            3.7997  16.615444
     2                        1              27            3.9761  19.519185
     3                        1              27            4.1939  27.845124
     4                        1              27            4.2782   7.976178
     5                        1              27            4.0062   7.072502
...                         ...             ...               ...        ...
2050 22998                    1               1            2.6193  41.241522
     22999                    1               1            2.3703  35.842780
     23000                    1               1            2.1721  28.735275
     23001                    1               1            2.7063  41.006144
     23002                    1               1            2.4553  50.823736

            effective_acres_36R  land_acres_36R  MicroAccessTime_36R  \
year mgra
2016 1                12.961482       16.615444                   10
     2                19.519185       19.519185                   10
     3                26.867938       27.845124                   10
     4                 7.976178        7.976178                   10
     5                 7.063693        7.072502                   10
...                         ...             ...                  ...
2050 22998            26.863578       41.241522                  120
     22999            30.635095       35.842780                  120
     23000            16.109816       28.735275                  120
     23001            28.126056       41.006144                  120
     23002            34.131049       50.823736                  120

            remoteAVParking_36R  refueling_stations_36R
year mgra
2016 1                        0                       0
     2                        0                       0
     3                        0                       0
     4                        0                       0
     5                        0                       0
...                         ...                     ...
2050 22998                    0                       0
     22999                    0                       0
     23000                    0                       0
     23001                    0                       0
     23002                    0                       0

[299026 rows x 212 columns]

# Diff File Creation
- This is going to do dsid_1 minus dsid_2
- Last run took 4m 21.8s

In [4]:
diff_df = create_diff_df(dsid_1='36', dsid_2='38', geo_level='mgra', to_jdrive=True)
diff_df

,,hs,hs_sf,hs_mf,hs_mh,hh,hh_sf,hh_mf,hh_mh,gq_civ,gq_mil,...,hotelroomtotal,truckregiontype,district27,milestocoast,acres,effective_acres,land_acres,MicroAccessTime,remoteAVParking,refueling_stations
mgra,year,,,,,,,,,,,,,,,,,,,,,
1,2016,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0.0,0.0,0.0,0.0,0,0,0
2,2016,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0.0,0.0,0.0,0.0,0,0,0
3,2016,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0.0,0.0,0.0,0.0,0,0,0
4,2016,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0.0,0.0,0.0,0.0,0,0,0
5,2016,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0.0,0.0,0.0,0.0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22998,2050,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0.0,0.0,0.0,0.0,0,0,0
22999,2050,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0.0,0.0,0.0,0.0,0,0,0
23000,2050,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0.0,0.0,0.0,0.0,0,0,0
23001,2050,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0.0,0.0,0.0,0.0,0,0,0
23002,2050,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0.0,0.0,0.0,0.0,0,0,0

In [6]:
diff_df = create_diff_df(dsid_1='36R', dsid_2='38', geo_level='mgra', to_jdrive=True)
diff_df

,,hs,hs_sf,hs_mf,hs_mh,hh,hh_sf,hh_mf,hh_mh,gq_civ,gq_mil,...,hotelroomtotal,truckregiontype,district27,milestocoast,acres,effective_acres,land_acres,MicroAccessTime,remoteAVParking,refueling_stations
mgra,year,,,,,,,,,,,,,,,,,,,,,
1,2016,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0.0,0.0,0.0,0.0,0,0,0
2,2016,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0.0,0.0,0.0,0.0,0,0,0
3,2016,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0.0,0.0,0.0,0.0,0,0,0
4,2016,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0.0,0.0,0.0,0.0,0,0,0
5,2016,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0.0,0.0,0.0,0.0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22998,2050,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0.0,0.0,0.0,0.0,0,0,0
22999,2050,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0.0,0.0,0.0,0.0,0,0,0
23000,2050,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0.0,0.0,0.0,0.0,0,0,0
23001,2050,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0.0,0.0,0.0,0.0,0,0,0
23002,2050,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0.0,0.0,0.0,0.0,0,0,0

In [8]:
diff_df = create_diff_df(dsid_1='36', dsid_2='38', geo_level='region', to_jdrive=True)
diff_df

                hs  hs_sf  hs_mf  hs_mh  hh  hh_sf  hh_mf  hh_mh  gq_civ  \
region    year
San Diego 2016   0      0      0      0   0      0      0      0       0
          2018   0   1607  -1607      0   0   1434  -1479     45       0
          2020   0   3402  -3402      0   0   3175  -3261     86       0
          2023   0   1728  -1728      0   0   1723  -1726      3       0
          2025   0   1419  -1419      0   0   1178  -1164    -14       0
          2026   0   1091  -1091      0   0    949   -937    -12       0
          2029   0   1438  -1438      0   0   1107  -1089    -18       0
          2030   0   1503  -1503      0   0   1205  -1187    -18       0
          2032   0   1660  -1660      0   0   1408  -1390    -18       0
          2035   0     67    -67      0   0    824   -808    -16       0
          2040   0  -1931   1931      0   0   -675    689    -14       0
          2045   0  -1408   1408      0   0  -1395   1415    -20       0
          2050   0  -1121   1121      0   0  -1704   1735    -31       0

                gq_mil  ...  hotelroomtotal  truckregiontype  district27  \
region    year          ...
San Diego 2016       0  ...               0                0           0
          2018       0  ...               0                0           0
          2020       0  ...               0                0           0
          2023       0  ...               0                0           0
          2025       0  ...               0                0           0
          2026       0  ...               0                0           0
          2029       0  ...               0                0           0
          2030       0  ...               0                0           0
          2032       0  ...               0                0           0
          2035       0  ...               0                0           0
          2040       0  ...               0                0           0
          2045       0  ...               0                0           0
          2050       0  ...               0                0           0

                milestocoast  acres  effective_acres  land_acres  \
region    year
San Diego 2016           0.0    0.0              0.0         0.0
          2018           0.0    0.0              0.0         0.0
          2020           0.0    0.0              0.0         0.0
          2023           0.0    0.0              0.0         0.0
          2025           0.0    0.0              0.0         0.0
          2026           0.0    0.0              0.0         0.0
          2029           0.0    0.0              0.0         0.0
          2030           0.0    0.0              0.0         0.0
          2032           0.0    0.0              0.0         0.0
          2035           0.0    0.0              0.0         0.0
          2040           0.0    0.0              0.0         0.0
          2045           0.0    0.0              0.0         0.0
          2050           0.0    0.0              0.0         0.0

                MicroAccessTime  remoteAVParking  refueling_stations
region    year
San Diego 2016                0                0                   0
          2018                0                0                   0
          2020                0                0                   0
          2023                0                0                   0
          2025                0                0                   0
          2026                0                0                   0
          2029                0                0                   0
          2030                0                0                   0
          2032                0                0                   0
          2035                0                0                   0
          2040                0                0                   0
          2045                0                0                   0
          2050                0                0                   0

[13 rows x 104 columns]

In [9]:
diff_df = create_diff_df(dsid_1='36R', dsid_2='38', geo_level='region', to_jdrive=True)
diff_df

                hs  hs_sf  hs_mf  hs_mh  hh  hh_sf  hh_mf  hh_mh  gq_civ  \
region    year
San Diego 2016   0      0      0      0   0      0      0      0       0
          2018   0   1607  -1607      0   0   1429  -1471     42       0
          2020   0   3402  -3402      0   0   3184  -3268     84       0
          2023   0   1728  -1728      0   0   1707  -1713      6       0
          2025   0   1419  -1419      0   0   1171  -1154    -17       0
          2026   0   1091  -1091      0   0    938   -922    -16       0
          2029   0   1438  -1438      0   0   1089  -1072    -17       0
          2030   0   1503  -1503      0   0   1204  -1187    -17       0
          2032   0   1660  -1660      0   0   1357  -1339    -18       0
          2035   0     67    -67      0   0    811   -794    -17       0
          2040   0  -1931   1931      0   0   -695    706    -11       0
          2045   0  -1408   1408      0   0  -1438   1458    -20       0
          2050   0  -1121   1121      0   0  -1734   1766    -32       0

                gq_mil  ...  hotelroomtotal  truckregiontype  district27  \
region    year          ...
San Diego 2016       0  ...               0                0           0
          2018       0  ...               0                0           0
          2020       0  ...               0                0           0
          2023       0  ...               0                0           0
          2025       0  ...               0                0           0
          2026       0  ...               0                0           0
          2029       0  ...               0                0           0
          2030       0  ...               0                0           0
          2032       0  ...               0                0           0
          2035       0  ...               0                0           0
          2040       0  ...               0                0           0
          2045       0  ...               0                0           0
          2050       0  ...               0                0           0

                milestocoast  acres  effective_acres  land_acres  \
region    year
San Diego 2016           0.0    0.0              0.0         0.0
          2018           0.0    0.0              0.0         0.0
          2020           0.0    0.0              0.0         0.0
          2023           0.0    0.0              0.0         0.0
          2025           0.0    0.0              0.0         0.0
          2026           0.0    0.0              0.0         0.0
          2029           0.0    0.0              0.0         0.0
          2030           0.0    0.0              0.0         0.0
          2032           0.0    0.0              0.0         0.0
          2035           0.0    0.0              0.0         0.0
          2040           0.0    0.0              0.0         0.0
          2045           0.0    0.0              0.0         0.0
          2050           0.0    0.0              0.0         0.0

                MicroAccessTime  remoteAVParking  refueling_stations
region    year
San Diego 2016                0                0                   0
          2018                0                0                   0
          2020                0                0                   0
          2023                0                0                   0
          2025                0                0                   0
          2026                0                0                   0
          2029                0                0                   0
          2030                0                0                   0
          2032                0                0                   0
          2035                0                0                   0
          2040                0                0                   0
          2045                0                0                   0
          2050                0                0                   0

[13 rows x 104 columns]

# Population comparison (between household csv and input files)
- Output name  is: mgra_households_dataset_population_comparison_{output_type}_DS{dsid}_QA.csv
- Last run took: 3m 16.3s

In [2]:
def population_comparison_households_and_input_files(dsid, gq_only, no_gq, to_jdrive):
    '''Compare MGRA population data to household dataset population data based on gq preference.'''
    # Input Files
    mgra_data = pd.read_csv(rf'J:\DataScience\DataQuality\QAQC\forecast_automation\mgra_series_13_outputs_CSV_data\aggregated_data\mgra_DS{dsid}_ind_QA.csv', usecols=[
                            'year', 'mgra', 'pop', 'hhp'])
    mgra_data['gq_pop_input_files'] = mgra_data['pop'] - mgra_data['hhp']

    # gq_only = True , no_gq = False
    if (gq_only == no_gq) & (gq_only == False):
        mgra_data = mgra_data[['mgra', 'year', 'pop']]
        output_type = 'all'
    elif gq_only:
        mgra_data = mgra_data[['mgra', 'year', 'gq_pop_input_files']]
        output_type = 'GQ_only'
    else:
        mgra_data = mgra_data[['mgra', 'year', 'hhp']]
        output_type = 'no_GQ'
    
    return mgra_data

In [3]:
mgra_data = population_comparison_households_and_input_files('36R', gq_only=False, no_gq=True, to_jdrive=False)
mgra_data

         mgra  year  hhp
0           1  2016   41
1           2  2016   81
2           3  2016  111
3           4  2016   73
4           5  2016   63
...       ...   ...  ...
299021  22998  2050  242
299022  22999  2050    0
299023  23000  2050  323
299024  23001  2050  204
299025  23002  2050    0

[299026 rows x 3 columns]

In [7]:
households_dataset_pop = population_from_households_dataset('36R', gq_only=False, no_gq=True)
households_dataset_pop

        year   mgra  pop_count_household_file
0       2016      1                        41
1       2016      2                        81
2       2016      3                       111
3       2016      4                        73
4       2016      5                        63
...      ...    ...                       ...
237675  2050  22995                       105
237676  2050  22996                       248
237677  2050  22998                       242
237678  2050  23000                       323
237679  2050  23001                       204

[237680 rows x 3 columns]

In [9]:
merged = households_dataset_pop.merge(mgra_data, how='left', on=['mgra', 'year'])
merged

        year   mgra  pop_count_household_file  hhp
0       2016      1                        41   41
1       2016      2                        81   81
2       2016      3                       111  111
3       2016      4                        73   73
4       2016      5                        63   63
...      ...    ...                       ...  ...
237675  2050  22995                       105  105
237676  2050  22996                       248  248
237677  2050  22998                       242  242
237678  2050  23000                       323  323
237679  2050  23001                       204  204

[237680 rows x 4 columns]

In [10]:
merged[merged['mgra'] == 2518]

        year  mgra  pop_count_household_file   hhp
2248    2016  2518                       565   565
20082   2018  2518                       563   563
37928   2020  2518                       585   585
56165   2023  2518                       612   612
74486   2025  2518                       622   622
92836   2026  2518                       614   614
111200  2029  2518                       664   664
129583  2030  2518                       650   650
147972  2032  2518                       650   650
166365  2035  2518                       892   892
184763  2040  2518                       993   993
203169  2045  2518                      1042  1042
221579  2050  2518                      1079  1079

In [8]:
households_dataset_pop[households_dataset_pop['mgra'] == 2518]

        year  mgra  pop_count_household_file
2248    2016  2518                       565
20082   2018  2518                       563
37928   2020  2518                       585
56165   2023  2518                       612
74486   2025  2518                       622
92836   2026  2518                       614
111200  2029  2518                       664
129583  2030  2518                       650
147972  2032  2518                       650
166365  2035  2518                       892
184763  2040  2518                       993
203169  2045  2518                      1042
221579  2050  2518                      1079

In [11]:
ds36R_mgra = pd.read_csv(r'C:\Users\cra\San Diego Association of Governments\SANDAG QA QC - Documents\Projects\2023\2023-002 XPEF41 (DS 36 Revised) Forecast\Data\mgra_DS36R_ind_QA.csv')

In [15]:
households_file = download_and_concat_Tdrive_files('36R', 'Household_Files')
households_file

ParserError: Error tokenizing data. C error: Expected 14 fields in line 994793, saw 19

In [14]:
ds36R_mgra[ds36R_mgra['mgra'] == 2518][['mgra', 'year', 'pop', 'hhp']]

        mgra  year   pop   hhp
2517    2518  2016  2368   565
25519   2518  2018  2547   563
48521   2518  2020  2569   585
71523   2518  2023  2596   612
94525   2518  2025  2606   622
117527  2518  2026  2598   614
140529  2518  2029  2648   664
163531  2518  2030  2634   650
186533  2518  2032  2634   650
209535  2518  2035  2876   892
232537  2518  2040  2977   993
255539  2518  2045  3026  1042
278541  2518  2050  3063  1079

In [ ]:
output = population_from_households_dataset(dsid, gq_only, no_gq).merge(
        mgra_data, how='left', on=['mgra', 'year'])

In [6]:
mgra_data[mgra_data['mgra'] == 2518]

        mgra  year   hhp
2517    2518  2016   565
25519   2518  2018   563
48521   2518  2020   585
71523   2518  2023   612
94525   2518  2025   622
117527  2518  2026   614
140529  2518  2029   664
163531  2518  2030   650
186533  2518  2032   650
209535  2518  2035   892
232537  2518  2040   993
255539  2518  2045  1042
278541  2518  2050  1079

In [2]:
pop_comp_household_input_GQ_only = population_comparison_households_and_input_files(dsid='36R', gq_only=True, no_gq=False, to_jdrive=False)
pop_comp_household_input_GQ_only

NameError: name 'population_comparison_households_and_input_files' is not defined

In [2]:
pop_comp_household_input = population_comparison_households_and_input_files(dsid='36R', gq_only=True, no_gq=False, to_jdrive=True)
pop_comp_household_input

     mgra   year  pop_count_household_file  pop_input_files  Diff
0    2016   1065                       193              193     0
1    2016   1070                       178              178     0
2    2016   1071                        31               31     0
3    2016   1073                        49               49     0
4    2016   1076                       588              588     0
..    ...    ...                       ...              ...   ...
579  2050  19191                      2694             2694     0
580  2050  19214                       566              566     0
581  2050  22593                       577              577     0
582  2050  22705                      1074             1074     0
583  2050  22840                      5176             5176     0

[584 rows x 5 columns]

In [3]:
pop_comp_household_input = population_comparison_households_and_input_files(dsid='36R', gq_only=False, no_gq=True, to_jdrive=True)
pop_comp_household_input


# Non GQ identical 
 # All file has 15k + diff 
# Difference has to come from GQ

        mgra   year  pop_count_household_file  pop_input_files  Diff
0       2016      1                        41               41     0
1       2016      2                        81               81     0
2       2016      3                       111              111     0
3       2016      4                        73               73     0
4       2016      5                        63               63     0
...      ...    ...                       ...              ...   ...
237675  2050  22995                       105              105     0
237676  2050  22996                       248              248     0
237677  2050  22998                       242              242     0
237678  2050  23000                       323              323     0
237679  2050  23001                       204              204     0

[237680 rows x 5 columns]

# Household number comparison (between households csv file and input files)
- Output file looks like: mgra_households_dataset_hh_count_comparison_no_GQ_DS{dsid}_QA.csv   
- Compare number of households between input files and households dataset. Only at the 'No GQ' level.
- Last run took: 3m 33.8s

In [2]:
hs_comp_households_input_files = household_number_comparison_houseolds_and_input_files(dsid='36R', to_jdrive=True)
hs_comp_households_input_files

         mgra  year  house_count_household_file  hh_count_input_files  Diff
0           1  2016                          18                    18     0
1           2  2016                          34                    34     0
2           3  2016                          52                    52     0
3           4  2016                          30                    30     0
4           5  2016                          28                    28     0
...       ...   ...                         ...                   ...   ...
237675  22995  2050                          37                    37     0
237676  22996  2050                         103                   103     0
237677  22998  2050                          87                    87     0
237678  23000  2050                         126                   126     0
237679  23001  2050                          81                    81     0

[237680 rows x 5 columns]

# Population comparison (Between households csv and persons csv)
- Output looks like: DS{dsid}_persons_household_population_comparison_{gq_status}_QA.csv
- Last run took: 9m 48.7s
- Data completed around: 8m 15s

In [7]:
pop_comp_households_persons = aggregate_persons_households_population_comparison(dsid='36R', gq_only=True, to_jdrive=True)
pop_comp_households_persons

2016 is complete
2018 is complete
2020 is complete
2023 is complete
2025 is complete
2026 is complete
2029 is complete
2030 is complete
2032 is complete
2035 is complete
2040 is complete
2045 is complete
2050 is complete

,hhid,Persons_Dataset_Pop,Households_Dataset_Pop,Diff_P_minus_H,year
0,886,1,NaN,NaN,2016
1,2000,1,NaN,NaN,2016
2,2554,1,NaN,NaN,2016
3,2608,1,NaN,NaN,2016
4,2852,1,NaN,NaN,2016
...,...,...,...,...,...
84340,1453334,1,1.0,0.0,2050
84341,1453335,1,1.0,0.0,2050
84342,1453336,1,1.0,0.0,2050
84343,1453337,1,1.0,0.0,2050
84344,1453338,1,1.0,0.0,2050